@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;



@section Head
{

    <title> افزایش رتبه سایت در گوگل | سئو سایت | طراحی سایت</title>

    <meta name="description" content="افزایش رتبه سایت در گوگل دارای روش های زیادی است و هر متخصص سئو سعی می کند که با استفاده از این روش ها، رتبه سایت خود را در گوگل افزایش دهد. موتور جستجو گوگل در واقع از متد های مختلفی برای تعیین اینکه کدام سایت ها در صفحه اول نشان داده شوند، استفاده می کنند.  " />
    <meta name="keywords" content="طراحی سایت | افزایش رتبه گوگل | بهینه ساازی موتورهای جستجو | افزایش رتبه الکسا | سئو سایت | طراحی سایت حرفه ای | سایت فروشگاهی ارزان" />
    <meta name="DC.keywords" content="طراحی سایت | افزایش رتبه گوگل | بهینه ساازی موتورهای جستجو | افزایش رتبه الکسا | سئو سایت | طراحی سایت حرفه ای | سایت فروشگاهی ارزان" />
    <meta name="DC.description" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.Title" content="طراحی سایت | افزایش رتبه گوگل | بهینه ساازی موتورهای جستجو | افزایش رتبه الکسا | سئو سایت | طراحی سایت حرفه ای | سایت فروشگاهی ارزان" />
    <meta name="DC.Subject" content="طراحی سایت | افزایش رتبه گوگل | بهینه ساازی موتورهای جستجو | افزایش رتبه الکسا | سئو سایت | طراحی سایت حرفه ای | سایت فروشگاهی ارزان" />

    <meta property="og:title" content="طراحی سایت | افزایش رتبه گوگل | بهینه ساازی موتورهای جستجو | افزایش رتبه الکسا | سئو سایت | طراحی سایت حرفه ای | سایت فروشگاهی ارزان" />
    <meta property="og:url" content="/Learning/افزایش_رتبه_سایت_در_گوگل" />
    <meta property="og:description" content="افزایش رتبه سایت در گوگل دارای روش های زیادی است و هر متخصص سئو سعی می کند که با استفاده از این روش ها، رتبه سایت خود را در گوگل افزایش دهد. موتور جستجو گوگل در واقع از متد های مختلفی برای تعیین اینکه کدام سایت ها در صفحه اول نشان داده شوند، استفاده می کنند. " />


}
@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">مقالات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">

        <div class="container">
            <div class="blog">



                <div class="col-md-2  blog_right no-padding ">


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG">
                                @{foreach (var item in Utility.lstMag)
                                    {
                                        <li><a href='http://www.greenoptimizer.com/Home/مجله_اینترنتی/a|@item.SiteName'>@item.SiteName</a></li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled   div-bg-white">
                                <li><a target="_blank" href="http://www.bamilo.com/"><img src="~/images/ads/bamilo.png" alt=""> </a></li>
                                <li><a target="_blank" href="https://www.digikala.com/"><img src="~/images/ads/digikala125.gif" alt=""> </a></li>
                                <li><a target="_blank" href="http://goldiran.ir/"><img src="~/images/ads/goldiran.png" alt=""> </a></li>
                                <li><a target="_blank" href="http://izigzag.com/L/Brand"><img src="~/images/ads/zigzag125.gif" alt=""> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>



                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 ">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.samsung.com/iran/smartphones/galaxy-s8">
                                            <img src="~/images/ads/samsung.gif" alt="سامسونگ" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.digikala.com">
                                            <img src="~/images/ads/digikala.gif" alt="دیجی کالا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://goldiran.ir/">
                                            <img src="~/images/ads/goldiran.gif" alt="گلدیران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.bamilo.com/">
                                            <img src="~/images/ads/bamilo.gif" alt="بامیلو" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.alibaba.ir/">
                                            <img src="~/images/ads/alibaba.gif" alt="علی بابا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.lotuscarsiran.ir/">
                                            <img src="~/images/ads/lotus.gif" alt="lotus" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.golfamsafar.com/">
                                            <img src="~/images/ads/golfamsafar.gif" alt="گلفام سفر" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.irannovinclinic.com/">
                                            <img src="~/images/ads/irannovinclinic.gif" alt="کلینیک ایران نوین" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://irtoya.com/">
                                            <img src="~/images/ads/irtoya.gif" alt="ایرتویا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://jabama.ir/">
                                            <img src="~/images/ads/jabama.gif" alt="جاباما" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.nomatec.net/Products/SCM">
                                            <img src="~/images/ads/nomatec.gif" alt="نوماتک" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.parsonline.com/">
                                            <img src="~/images/ads/parsonline.gif" alt="پارس آنلاین" class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-md-8  blog_main ">
                    <div id="CenterContent">

                        <div class='blog_list bg-white'>
                            <div class='col-md-12 blog_left'>
                                <a target='_blank' href='#'>
                                    <img src='' alt='' class='img-responsive' />
                                </a>
                                <h4 class='resp-padding-5'><a target='_blank' href='/Learning/افزایش_رتبه_سایت_در_گوگل'>افزایش رتبه سایت در گوگل | سئو سایت | طراحی سایت</a></h4>
                                <span>نوشته شده در تاریخ  <a><i class='fa fa-eye'></i></a>افزایش رتبه سایت در گوگل | سئو سایت | طراحی سایت </span>
                            

                                <p class="center">
                                
                                    <img src="~/images/افزایش_رتبه_سایت_در_گوگل.jpg"  alt="افزایش رتبه سایت در گوگل" title="افزایش رتبه سایت در گوگل" >    </p>
                                <p class="para">
                                    <b>افزایش رتبه سایت در گوگل</b> دارای روش های زیادی
                                    است و هر متخصص <a href="http://seokar.com/" title="سئو">سئو</a> سعی می کند که با استفاده از این روش ها، رتبه سایت خود را در
                                    گوگل افزایش دهد. موتور جستجو گوگل در واقع از متد های مختلفی برای تعیین اینکه
                                    کدام سایت ها در صفحه اول نشان داده شوند، استفاده می کنند. فرمول اصلی یک راز است که هیچ کسی از آن
                                    اطلاع ندارد اما روش هایی برای افزایش رتبه سایت در گوگل وجود دارد که با رعایت آن
                                    ها می تواند سایت خود را در صفحه اول قرار داد. همه این تکنیک ها زیر مجموعه ای از
                                    اصول سئو می باشند.
                                </p>

                                <p class="para">
                                    متاسفانه در این چند ساله اخیر، شاهد افرادی هستیم
                                    که ادعا می کنند در سریع ترین زمان ممکن می توانند سایت شما در <a href="/Learning/افزایش_رتبه_سایت_در_گوگل" title="صفحه اول گوگل">افزایش رتبه سایت در گوگل | سئو سایت | طراحی سایت</a> قرار
                                    بدهند. این ادعای واهی و کذب، شاید در اوایل باعث قرار گرفتن سایت شما در رتبه های
                                    برتر شود اما برای اینکه از روش های اسپم استفاده می کنند، بعدا گوگل سایت شما
                                    مورد جریمه سختی قرار خواهد داد.
                                </p>

                                <p class="para">
                                     در این مقاله آموزش سئو ، قصدا داریم که ده
                                    تکنیک های برتر افزایش رتبه سایت در گوگل را برای شما بیان کنیم. پس در ادامه مطلب
                                    با ما باشید.
                                </p>

                                <h2>تکنیک های افزایش رتبه سایت در گوگل</h2>

                                <h2>1. تولید محتوای ارگانیک و مرتبط</h2>

                                <p class="para">
                                    تولید محتوا ارگانیک، امروزه بیشتر از هر چیزی
                                    در بهینه سازی سایت تاثیر دارند. گوگل به سایت هایی که از محتوای ناب و غیر کپی
                                    استفاده می کند، بیشتر بها و امتیاز می دهند و آن هایی را که محتوای دیگر سایت را
                                    کپی کرده، نه تنها جریمه می کند بلکه ممکن است لیست نتایج گوگل هم حذف نماید.
                                </p>

                                <p class="para">
                                    همچنین مساله دیگر که باید رعایت کرد، قرار دادن
                                    محتوای با کیفیت و مرتبط با موضوع اصلی سایت است. برای مثال اگر سایت شما در مورد
                                    سئو است، قرار دادن محتوای در خصوص خرید بلیط نه تنها باعث خدشه دار شدن هویت اصلی
                                    سایتتان می شود، بلکه کاربران وب سایت شما را به دلیل تولید محتوای نامرتبط سریعا
                                    ترک خواهند کرد و که این ترک سریع، تاثیر منفی در <a href="/Learning/افزایش_رتبه_سایت_در_گوگل">افزایش رتبه سایت در گوگل</a> خواهد
                                    داشت. کاربران به وب سایت هایی که مقالات با محتوای مرتبط و با کیفیت قرار می
                                    دهند، بیشتر جذب می شوند.
                                </p>

                                <h2>2. به روزرسانی محتوا به صورت مدام و با برنامه ریزی</h2>

                                <p class="para">
                                    به روزرسانی محتوا بر اساس برنامه ریزی و به
                                    صورت مداوم، نه تنها می تواند باعث جذب کاربران بیشتری هرروز به سایت شما شود بلکه
                                    از نظر سئو اهمیت فراوانی دارد و گوگل به این سایت ها که همیشه در حال تغییر و به
                                    روز کردن مطالب خود هستند، اهمیت ویژه ای می دهد، البته اگر از محتوای ارگانیک
                                    استفاده کنند و از این رو این مساله می تواند افزایش رتبه سایت در گوگل شود.
                                </p>

                                <h2>3. متا تگ ها</h2>

                                <p class="para"> 
                                    در هر صفحه قسمتی وجود دارد به نام تگ &lt;head&gt; که متا تگ ها درآن قرار
                                    می گیرند. هر صفحه برای خود متاتگ منحصر به فردی دارد و باید با بقیه متفاوت
                                    دارد. متا تگ title یا عنوان و متاتگ توضیحات، دوتا از مهمترین متاتگ ها در
                                    افزایش رتبه سایت در گوگل می باشند. حتما در متاتگ ها کلمات کلیدی اصلی را به کار ببرید.
                                </p>

                                <h2>4. چگالی کلمات کلیدی</h2>

                                <p class="para">
                                    چگالی کلمات کلیدی در <u>
                                        افزایش رتبه سایت در
                                        گوگل
                                    </u> خیلی مهم است. اصولا حداقل کلمات محتوا باید 500 وحداکثر 1500 کلمه باشد زیرا
                                    کمتر از 500 کلمه را گوگل ممکن است ایندکس نکند و بیشتر از آن را کاربر
                                    نخواند و وب سایت را ترک نماید. اما مساله مهم، چگالی کلمات کلیدی است. کلمات نه باید خیلی کم باشد که گوگل
                                    تقریبا اصلا تقریبا متوجه وجود آن نشود و نه باید اینقدر زیاد باشد که فکر شما قصد
                                    دورزدن آن را دارید. بهتر است که این چگالی نسبت به کل تعداد کلمات بین 2 تا 5
                                    درصد باشد.
                                </p>

                                <h2>5. توجه به لینک ها</h2>

                                <p class="para">
                                    لینک ها یکی از مهمترین عامل ها برای ارتباط بین
                                    صفحات و سایت ها می باشند. لینک های داخلی بین صفحات که با استفاده از <a href="/Learning/افزایش_رتبه_سایت_در_گوگل" title="انکر تکست">انکر تکست</a>
                                    انجام می شود، باعث ارتبط بین صفحات داخلی و سریع ایندکس شدن صفحات می شود.
                                </p>

                                <p class="para">
                                    لینک های خارجی یعنی اینکه آن ها محتوای سایت
                                    شما را مناسب دیده اند و به نوعی تاییده سایت شما به عنوان یک سایت باکیفیت می
                                    باشند. لینک های خارجی بیشتر از داخلی ها در افزایش رتبه سایت در گوگل اثرگذار
                                    هستند.
                                </p>

                                <h2>6. شبکه های اجتماعی و فعالیت در آن ها</h2>

                                <p class="para">
                                    <a href="/Learning/افزایش_رتبه_سایت_در_گوگل" title="بازاریابی شبکه های اجتماعی">شبکه های اجتماعی</a> امروزه بیشتر از همه برای
                                    ارتباط بین افراد استفاده می شود. کاربران اگر محتوای صفحه ای را مناسب ببینند، آن
                                    را در شبکه های خود برای دوستانشان به اشتراک می گذارند و از این رو این مساله می
                                    تواند باعث ورودی بیشتر به سایت شما شود.
                                </p>


                                <p class="para">
                                    مهمترین عاملی که باعث می شود کاربران سایت شما
                                    را در شبکه های اجتماعی خودشان به اشتراک بگذراند، مطالب ارگانیک شما می باشد. پس
                                    خیلی مهم است که در پایین هر مطلب دکمه اشتراک گذاری انواع شبکه ها قرار دهید. هر
                                    لینک ورودی از شبکه ها و فروم ها تاثیر به مراتب بیشتر در افزایش رتبه سایت در گوگل
                                    خواهد داشت. همچنین توصیه می شود که برای سایت خود در هر شبکه های اجتماعی یک صفحه
                                    اختصاصی تولید کرده و در آن فعالیت کنید و مطالب خود را به اشتراک بگذارید.
                                </p>

                                <h2>7. تگ Alt عکس </h2>

                                <p class="para">
                                    این تگ شاید تاثیر مستقیمی در بهبود رتبه سایت
                                    در گوگل نداشته باشد، اما بعضی مواقع عکس ها به خوبی آپلود نمی شوند. زمانی که عکس
                                    ها در هنگام بارگذاری سایت، نشان داده نشوند، جمله داخل این تگ نشان داده خواهد
                                    شد. هر عکسی باید تگ alt مخصوص به خود را داشته
                                    باشد و همچنین بهتر است که از کلمه کلیدی اصلی سایت نیز در این تگ استفاده شود.
                                    البته در جستجوی عکس گوگل، معیار جستجو و نشان دادن عکس ها، این تگ می باشد.
                                </p>

                                <h2>8. استفاده از نقشه سایت </h2>

                                <p class="para">
                                    نقشه سایت راهنمای گوگل برای پیمایش راحت تر و
                                    سریع تر در سایت است. با ایجاد هر صفحه جدید، لینک آن در نقشه سایت قرار می گیرد و
                                    گوگل سریعا متوجه این موضوع می شود و آن را ایندکس می کند. نقشه سایت یکی از عوامل
                                    مهم در افزایش رتبه سایت در گوگل است.
                                </p>

                                <h2>9. سرعت سایت</h2>

                                <p class="para">
                                    یکی از عوامل مهم در افزایش رتبه سایت در گوگل،
                                    <a href="/Learning/افزایش_رتبه_سایت_در_گوگل" title="سرعت سایت">سرعت سایت</a> و بارگذاری صفحات آن است. هر چه سرعت سایت بیشتر باشد، علاوه براینکه
                                    تاثیر مثبتی می تواند در سئو سایت شما داشته باشد، باعث جذب کاربران می شود. در
                                    واقع اگر سرعت بارگذاری سایتی بیش از 2 ثانیه باشد، کاربران آن را ترک خواهند کرد.
                                    همانطور که می دانید صبر کاربران امروزه خیلی کمتر از گذشته است و اگر شما تمامی
                                    نکات را به خوبی رعایت کرده باشید اما سرعت بارگذاری کم باشد، در واقع می توان گفت
                                    که سایت شما هیچ ارزشی ندارد و نمی تواند کاربری
                                    را به سمت خود جذب کند.
                                </p>

                                <h2>10. بهینه سازی عکس ها</h2>

                                <p class="para">
                                    اندازه عکس می تواند تاثیر زیادی در افزایش یا
                                    کاهش سرعت بارگذاری سایت داشته باشد. همچنین فرمتی که برای آن ها استفاده می شود
                                    خیلی مهم است، زیرا ممکن است بعضی اوقات، تعدادی از فرمت ها بخوبی پشتیبانی نشوند
                                    و تاثیر منفی برروی کیفیت عکس ها بگذارد. هرچه اندازه عکس ها کمتر باشد و از فرمت
                                    مناسبی استفاده شود، افزایش رتبه سایت در گوگل سریعتر انجام می شود.
                                </p>


                 
                        </div>









                          






                    </div>

                    <div class="clearfix"></div>
</div>

                </div>



                <div class="col-md-2 blog_right no-padding ellipsistitle" id="MagazinesNews">




                    <div class="widget">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">پربازدید ترین ها</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="list-unstyled div-bg-white" id="MostRecentNews">
                                <div class="clearfix"></div>

                                @{
                                    foreach (var item in Utility.lstTopNews)
                                    {
                                        var Cleanlink = "http://www.greenoptimizer.com/Home/جزئیات_خبر_فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                        <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@item.NTitle' href='@Cleanlink'>  @item.NTitle </a></li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>





                    @{

                        foreach (var item in Utility.lstMagUnDisc)
                        {

                            <div class='widget'>
                                <div class='widget-header text-align-center'><a class='colorblack' href='http://www.greenoptimizer.com/Home/مجله_اینترنتی/a|@item.SiteName'><h6 class='line-height-2-5'>@item.SiteName</h6></a></div><div class='widget-content md-padding'>

                                    <ul class='list-unstyled div-bg-white'>
                                        <div class='clearfix'></div>
                                        @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                            {

                                                var Prehref = "http://www.greenoptimizer.com/Home/جزئیات_خبر_فناوری/ a" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                                <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                                            }


                    }



                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

@section ScriptJs{




}