@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;



@section Head
{

    <title> سئو چیست ؟ | تعریف ایرانی سئو | سئو سایت | طراحی سایت حرفه ای </title>

    <meta name="description" content="‎Search engine optimization (SEO)‎) این یکی از روش‌های بازاریابی موتور جستجو است. به صورت کلی وب‌گاه‌هایی که دارای بالاترین مکان و بیشترین تکرار در صفحهٔ نتایج موتورهای جستجو باشند، بازدیدکنندهٔ بیشتری از طریق موتورهای جستجو به دست می‌آورند." />
    <meta name="keywords" content="سئو چیست ؟ | نعریف ایرانی سئو | سئو سایت | طراحی سایت حرفه ای" />
    <meta name="DC.keywords" content="سئو برتر | بهینه سازی سایت سبز | بهینه سازی سئو | طراحی سایت حرفه ای " />
    <meta name="DC.description" content="Search engine optimization (SEO)‎) این یکی از روش‌های بازاریابی موتور جستجو است. به صورت کلی وب‌گاه‌هایی که دارای بالاترین مکان و بیشترین تکرار در صفحهٔ نتایج موتورهای جستجو باشند، بازدیدکنندهٔ بیشتری از طریق موتورهای جستجو به دست می‌آورند." />
    <meta name="DC.Title" content="طراحی سایت | بهینه سازی سازی | سئو چیست" />
    <meta name="DC.Subject" content="طراحی سایت | بهینه سازی سازی | سئو چیست" />

    <meta property="og:title" content="طراحی سایت | بهینه سازی سازی | سئو چیست" />
    <meta property="og:url" content="http://greenoptimizer.com/Learning/سئو_چیست" />
    <meta property="og:description" content="‎Search engine optimization (SEO)‎) این یکی از روش‌های بازاریابی موتور جستجو است. به صورت کلی وب‌گاه‌هایی که دارای بالاترین مکان و بیشترین تکرار در صفحهٔ نتایج موتورهای جستجو باشند، بازدیدکنندهٔ بیشتری از طریق موتورهای جستجو به دست می‌آورند." />


}
@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">مقالات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">

        <div class="container">
            <div class="blog">



                <div class="col-md-2  blog_right no-padding ">


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG">
                                @{foreach (var item in Utility.lstMag)
                                    {
                                        <li><a href='http://www.greenoptimizer.com/Home/مجله_اینترنتی/a|@item.SiteName'>@item.SiteName</a></li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled   div-bg-white">
                                <li><a target="_blank" href="http://www.bamilo.com/"><img src="~/images/ads/bamilo.png" alt=""> </a></li>
                                <li><a target="_blank" href="https://www.digikala.com/"><img src="~/images/ads/digikala125.gif" alt=""> </a></li>
                                <li><a target="_blank" href="http://goldiran.ir/"><img src="~/images/ads/goldiran.png" alt=""> </a></li>
                                <li><a target="_blank" href="http://izigzag.com/L/Brand"><img src="~/images/ads/zigzag125.gif" alt=""> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>



                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 ">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.samsung.com/iran/smartphones/galaxy-s8">
                                            <img src="~/images/ads/samsung.gif" alt="سامسونگ" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.digikala.com">
                                            <img src="~/images/ads/digikala.gif" alt="دیجی کالا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://goldiran.ir/">
                                            <img src="~/images/ads/goldiran.gif" alt="گلدیران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.bamilo.com/">
                                            <img src="~/images/ads/bamilo.gif" alt="بامیلو" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.alibaba.ir/">
                                            <img src="~/images/ads/alibaba.gif" alt="علی بابا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.lotuscarsiran.ir/">
                                            <img src="~/images/ads/lotus.gif" alt="lotus" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.golfamsafar.com/">
                                            <img src="~/images/ads/golfamsafar.gif" alt="گلفام سفر" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.irannovinclinic.com/">
                                            <img src="~/images/ads/irannovinclinic.gif" alt="کلینیک ایران نوین" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://irtoya.com/">
                                            <img src="~/images/ads/irtoya.gif" alt="ایرتویا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://jabama.ir/">
                                            <img src="~/images/ads/jabama.gif" alt="جاباما" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.nomatec.net/Products/SCM">
                                            <img src="~/images/ads/nomatec.gif" alt="نوماتک" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.parsonline.com/">
                                            <img src="~/images/ads/parsonline.gif" alt="پارس آنلاین" class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-md-8  blog_main ">
                    <div id="CenterContent">
                        <div class='blog_list bg-white'>
                            <div class='col-md-12 blog_left'>
                                <a target='_blank' href='#'>
                                    <img src='' alt='' class='img-responsive' />
                                </a>
                                <h2 class='resp-padding-5'>
                                    <a target='_blank' href='/Learning/سئو_چیست'>
                                       سئو چیست ؟
                                    </a>
                                </h2>
                                <b>
                                    <a href="/Home/سئو_چیست">بهینه‌سازی موتور جستجو  </a> و بهینه سازی سایت / <a href="/Home/سئو_چیست">سئو سایت چیست  </a> : بهینه ساز سبز
                                </b>

                                <p class='para'>
                                    <a href="/Learning/سئو_چیست">بهینه‌سازی موتور جستجو</a> (به انگلیسی: ‎Search engine optimization (SEO)‎) که گاهی در فارسی به آن سئو گفته می‌شود عملیاتی است که برای بهبود بازدید یک وب‌گاه یا یک صفحهٔ وب در صفحه نتایج موتورهای جستجو که می‌تواند طبیعی و یا الگوریتمی باشد، می‌گویند. این یکی از روش‌های بازاریابی موتور جستجو است. به صورت کلی وب‌گاه‌هایی که دارای بالاترین مکان و بیشترین تکرار در صفحهٔ نتایج موتورهای جستجو باشند، بازدیدکنندهٔ بیشتری از طریق موتورهای جستجو به دست می‌آورند.برای وبمسترها یکی از عوامل مهم و حیاتی بدست اوردن کاربران جدید از موتورهای جستجو و بخصوص گوگل می باشد.
                                </p>

                                <h3>SEO چیست؟</h3>
                                <p class="para">

                                    ۱. <b>SEO</b> چیست؟
                                    <br />
                                    الف. SEO مخفف چیست؟

                                    کلمه SEO مخفف عبارت Search Engine Optimization بوده، که معنای تحت اللفظی آن بهینه سازی موتورهای جستجو می باشد.


                                    <br />
                                    ب. تعریف سئو<b></b> به سبک ایرانی

                                    کلمه سئو در دایره لغات ایران ثبت نشده و در اصل آن را باید به صورت اس ای او بخوانیم، ولی اگر بخواهیم به سبک ایرانی آن را تعریف کنیم، این کلمه مخفف را می توانیم به صورت بهینه سازی سایت برای موتورهای جستجو تعریف نماییم.


                                    <br />
                                    ج. معنی سئو به صورت خاص

                                    سئو روندی است که به کمک یک سری از اصول و تکنیک ها، در جهت بهبود دیده شدن سایت در بین نتایج جستجو در  <b>موتورهای جستجو</b> نظیر گوگل، کمک می نماید.


                                    <br />
                                    د. معرفی سئو به صورت عام

                                    اگر بخواهیم ساده ترین تعریف ممکن را برای سئو ارائه کنیم، بهتر است از مثال زیر استفاده کنیم:

                                    تصور کنید که امروز یک روز عادی و آفتابیست و شما به عنوان یک کاربر اینترنت در حال جستجو برای موضوع مورد نظر خودتان هستید. زمانی که شما وارد  <b>صفحه اول گوگل</b> می شوید و عبارت مورد نظر را جستجوی می کنید، یک صفحه برای شما باز می شود که صفحاتی را که با موضوع مورد نظر شما رابطه دارد را به شما نشان می دهد.

                                    <br />

                                    قطعا هم شما و هر کاربر دیگری در ۹۰ درصد اوقات، صفحه مورد نظر خود را در همان صفحه اول می یابید و دیگر وارد صفحات بعدی نمی شوید. سئو همان نقشه گنجیست که به صاحبان مشاغل و مدیران سایت ها کمک می نماید که سایتشان در بین همین ۱۰ گزینه صفحه اول و آن هم در بالاترین مکان قرار گیرد. سئو به شما کمک می کند که سایت شما در رتبه اول گوگل قرار گیرد!
                                    <br />

                                    <hr />

                                   <a href="/Learning/سئو_چیست">
                                       اگر تا همین لحظه متوجه اهمیت <b>سئو</b> سایت شده اید، همین حالا با ما برای بهینه سازی وب سایتتان تماس بگیرید.

                                   </a>



                                    <hr />
                                    <br />
                                 

                                    <br />
                                    

                                
                                </p>

                             
                                <img src="~/images/سئو_چیست.jpg" alt="طراحی سایت | سئو چیست | بهینه سازی سایت" />
                            </div><div class='clearfix'></div>
                        </div>
















                    </div>

                    <div class="clearfix"></div>


                </div>



                <div class="col-md-2 blog_right no-padding ellipsistitle" id="MagazinesNews">




                    <div class="widget">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">پربازدید ترین ها</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="list-unstyled div-bg-white" id="MostRecentNews">
                                <div class="clearfix"></div>

                                @{
                                    foreach (var item in Utility.lstTopNews)
                                    {
                                        var Cleanlink = "http://www.greenoptimizer.com/Home/جزئیات_خبر_فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                        <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@item.NTitle' href='@Cleanlink'>  @item.NTitle </a></li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>





                    @{

                        foreach (var item in Utility.lstMagUnDisc)
                        {

                            <div class='widget'>
                                <div class='widget-header text-align-center'><a class='colorblack' href='http://www.greenoptimizer.com/Home/مجله_اینترنتی/a|@item.SiteName'><h6 class='line-height-2-5'>@item.SiteName</h6></a></div><div class='widget-content md-padding'>

                                    <ul class='list-unstyled div-bg-white'>
                                        <div class='clearfix'></div>
                                        @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                            {

                                                var Prehref = "http://www.greenoptimizer.com/Home/جزئیات_خبر_فناوری/ a" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                                <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                                            }


                    }



                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

@section ScriptJs{




}