@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;


@section Head
{
@{

    tblPage p = (tblPage)ViewBag.Data;

   


}
    <title>@p.Title</title>

   

    <meta name="keywords" content="@p.MetaKeyword" />
    <meta name="DC.keywords" content="@p.MetaKeyword" />
    <meta name="description" content="@p.MetaDescription" />



    <meta name="DC.description" content="@p.MetaDescription" />
    <meta name="DC.Title" content="@p.Title" />
    <meta name="DC.Subject" content="@p.MetaSubject" />

    <meta property="og:title" content="@p.Title" />
    <meta property="og:description" content="@p.MetaDescription" />


}
@section StyleScript
    {



    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active"></li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">

        <div class="container">
            <div class="blog">
                <div class="col-md-2  blog_right no-padding">

                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG">
                                @{foreach (var item in Utility.lstMag)
                                    {
                                        <li><a href='http://www.greenoptimizer.com/Home/مجله-اینترنتی/a|@item.SiteName'>@item.SiteName</a></li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled   div-bg-white">
                                <li><a target="_blank" href="http://www.bamilo.com/"><img src="~/images/ads/bamilo.png" alt=""> </a></li>
                                <li><a target="_blank" href="https://www.digikala.com/"><img src="~/images/ads/digikala125.gif" alt=""> </a></li>
                                <li><a target="_blank" href="http://goldiran.ir/"><img src="~/images/ads/goldiran.png" alt=""> </a></li>
                                <li><a target="_blank" href="http://izigzag.com/L/Brand"><img src="~/images/ads/zigzag125.gif" alt=""> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>



                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 ">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.samsung.com/iran/smartphones/galaxy-s8">
                                            <img src="~/images/ads/samsung.gif" alt="سامسونگ" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.digikala.com">
                                            <img src="~/images/ads/digikala.gif" alt="دیجی کالا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://goldiran.ir/">
                                            <img src="~/images/ads/goldiran.gif" alt="گلدیران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.bamilo.com/">
                                            <img src="~/images/ads/bamilo.gif" alt="بامیلو" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.alibaba.ir/">
                                            <img src="~/images/ads/alibaba.gif" alt="علی بابا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.lotuscarsiran.ir/">
                                            <img src="~/images/ads/lotus.gif" alt="lotus" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.golfamsafar.com/">
                                            <img src="~/images/ads/golfamsafar.gif" alt="گلفام سفر" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.irannovinclinic.com/">
                                            <img src="~/images/ads/irannovinclinic.gif" alt="کلینیک ایران نوین" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://irtoya.com/">
                                            <img src="~/images/ads/irtoya.gif" alt="ایرتویا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://jabama.ir/">
                                            <img src="~/images/ads/jabama.gif" alt="جاباما" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.nomatec.net/Products/SCM">
                                            <img src="~/images/ads/nomatec.gif" alt="نوماتک" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.parsonline.com/">
                                            <img src="~/images/ads/parsonline.gif" alt="پارس آنلاین" class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                @{

                    tblPage p = (tblPage)ViewBag.Data;

                }

                <div class="col-md-8  blog_main ">





                    <div id="CenterContent">

                        <div class='blog_list bg-white'>
                            <div class='col-md-12 blog_left'>
                                @Html.Raw(p.Description)
                            </div>
                            
                            <div class='clearfix'></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>


                </div>



                <div class="col-md-2 blog_right no-padding ellipsistitle" id="MagazinesNews">




                    <div class="widget">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">پربازدید ترین ها</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="list-unstyled div-bg-white" id="MostRecentNews">
                                <div class="clearfix"></div>

                                @{
                                    foreach (var item in Utility.lstTopNews)
                                    {
                                        var Cleanlink = "http://www.greenoptimizer.com/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                        <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@item.NTitle' href='@Cleanlink'>  @item.NTitle </a></li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>





                    @{

                        foreach (var item in Utility.lstMagUnDisc)
                        {

                            <div class='widget'>
                                <div class='widget-header text-align-center'><a class='colorblack' href='http://www.greenoptimizer.com/Home/مجله-اینترنتی/a|@item.SiteName'><h6 class='line-height-2-5'>@item.SiteName</h6></a></div><div class='widget-content md-padding'>

                                    <ul class='list-unstyled div-bg-white'>
                                        <div class='clearfix'></div>
                                        @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                            {

                                                var Prehref = "http://www.greenoptimizer.com/Home/جزئیات-خبر-فناوری/ a" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                                <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                                            }


                    }



                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

@section ScriptJs{




}
                                            
                                            
