@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;



@section Head
{

    <title>مقالات تکنولوژی | بهینه ساز سبز</title>

    <meta name="description" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="keywords" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.keywords" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.description" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.Title" content="مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta name="DC.Subject" content="مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />

    <meta property="og:title" content="مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/Article" />
    <meta property="og:description" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />

    <meta name="twitter:title" content="مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta name="twitter:description" content="مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/Article" />

}
@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">مقالات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="blog">
                <!-- start blog -->


                <div class="col-md-2  blog_right no-padding ">


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG">
                                @{foreach (var item in Utility.lstMag)
                                    {
                                        <li><a href='http://www.greenoptimizer.com/Home/Magazine/@item.MagazineID'>@item.SiteName</a></li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled   div-bg-white">
                                <li><a target="_blank" href="http://www.bamilo.com/"><img src="~/images/ads/bamilo.png" alt=""> </a></li>
                                <li><a target="_blank" href="https://www.digikala.com/"><img src="~/images/ads/digikala125.gif" alt=""> </a></li>
                                <li><a target="_blank" href="http://goldiran.ir/"><img src="~/images/ads/goldiran.png" alt=""> </a></li>
                                <li><a target="_blank" href="http://izigzag.com/L/Brand"><img src="~/images/ads/zigzag125.gif" alt=""> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>



                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 ">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.samsung.com/iran/smartphones/galaxy-s8">
                                            <img src="~/images/ads/samsung.gif" alt="سامسونگ" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.digikala.com">
                                            <img src="~/images/ads/digikala.gif" alt="دیجی کالا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://goldiran.ir/">
                                            <img src="~/images/ads/goldiran.gif" alt="گلدیران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.bamilo.com/">
                                            <img src="~/images/ads/bamilo.gif" alt="بامیلو" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.alibaba.ir/">
                                            <img src="~/images/ads/alibaba.gif" alt="علی بابا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.lotuscarsiran.ir/">
                                            <img src="~/images/ads/lotus.gif" alt="lotus" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.golfamsafar.com/">
                                            <img src="~/images/ads/golfamsafar.gif" alt="گلفام سفر" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.irannovinclinic.com/">
                                            <img src="~/images/ads/irannovinclinic.gif" alt="کلینیک ایران نوین" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://irtoya.com/">
                                            <img src="~/images/ads/irtoya.gif" alt="ایرتویا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://jabama.ir/">
                                            <img src="~/images/ads/jabama.gif" alt="جاباما" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.nomatec.net/Products/SCM">
                                            <img src="~/images/ads/nomatec.gif" alt="نوماتک" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.parsonline.com/">
                                            <img src="~/images/ads/parsonline.gif" alt="پارس آنلاین" class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-md-8  blog_main ">
                    <div id="CenterContent">
                        @{
                            var urlse = Request.Url.Segments[2];
                         

                            if (urlse == "ArticleShow")
                            {
                                var urlSeg3 = Request.Url.Segments[3];
                                foreach (var item in DTController.GetAllNews(Convert.ToInt32(urlSeg3)))
                                {
                                    var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>@item.NTitle</a></h4><span>نوشته شده در تاریخ  @item.PubDate   در @item.SiteTitle<a><i class='fa fa-eye'></i></a> @item.ViewNumber  بازدید</span><p class='para'>@item.Description</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }

                            }
                            else if (urlse == "article")
                            {
                                foreach (var item in DTController.GetAllNews(0))
                                {
                                    var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>@item.NTitle</a></h4><span>نوشته شده در تاریخ  @item.PubDate   در @item.SiteTitle<a><i class='fa fa-eye'></i></a> @item.ViewNumber  بازدید</span><p class='para'>@item.Description</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }
                            }
                            else if (urlse == "magazineselected")
                            {
                                var urlSeg3 = Request.Url.Segments[3];
                                string[] arr = urlSeg3.Split('-');
                                foreach (var item in DTController.GetAllNewsMagazine(Convert.ToInt32(arr[0]), Convert.ToInt32(arr[1])))
                                {
                                    var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");

                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle </a></h4><span>نوشته شده در تاریخ @item.PubDate  در @item.SiteTitle<a><i class='fa fa-eye'></i></a> @item.ViewNumber بازدید</span><p class='para'>@item.Description</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }

                            }
                            else if (urlse == "magazine")
                            {

                                foreach (var item in DTController.GetAllNewsMagazine(Convert.ToInt32(urlSeg3), 0))
                                {
                                    var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle </a></h4><span>نوشته شده در تاریخ @item.PubDate  در @item.SiteTitle<a><i class='fa fa-eye'></i></a> @item.ViewNumber بازدید</span><p class='para'>@item.Description</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>
                                }
                            }








                        }





                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-9">

                        <ul class="pagination" id="PageNumber">

                            @{

                                if (urlse == "ArticleShow")
                                {
                                    var urlSeg3 = Request.Url.Segments[3];
                                    int countarticleshow = Convert.ToInt32(urlSeg3);

                                    int data = Convert.ToInt32(DTController.GetAllPages(countarticleshow));
                                    var start = 0;
                                    if (countarticleshow > 5)
                                    {
                                        start = countarticleshow - 5;
                                    }
                                    var End = data;
                                    if (countarticleshow < (data - 5))
                                    {
                                        End = countarticleshow + 5;
                                    }


                                    for (int i = start; i <= End; i++)
                                    {
                                        if (i == start)
                                        {
                                            if (i > 0)
                                            {
                                                <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/@i'><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/@i'> @i </a></li>
                                            }
                                        }
                                        else if (i < End)
                                        {
                                            <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/@i'> @i</a></li>
                                        }
                                        else if (i == End)
                                        {
                                            <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/@i'> @i </a></li>
                                            if (i < (data - 5))
                                            {
                                                <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/@i'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                            }
                                        }
                                    }



                                }
                                else if (urlse == "article")
                                {
                                    int data = Convert.ToInt32(DTController.GetAllPages(0));
                                    for (var i = 0; i < data && i < 11; i++)
                                    {
                                        if (i < 10)
                                        {
                                            <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "'> " + i + "</a></li>
                                        }
                                        else if (i == 10)
                                        {

                                            <li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                        }
                                    }
                                    <h5 class='padding-15'>صفحه 0 از @data</h5>
                                }
                                else if (urlse == "magazineselected")
                                {
                                    var urlSeg3 = Request.Url.Segments[3];
                                    string[] arr = urlSeg3.Split('-');
                                    int data = Convert.ToInt32(DTController.GetAllPages(Convert.ToInt32(arr[0])));
                                    int start = Convert.ToInt32(arr[1]);
                                    var startcount = 0;
                                    if (start > 5)
                                    {
                                        startcount = start - 5;
                                    }
                                    var End = data;
                                    if (start < (data - 5))
                                    {
                                        End = start + 5;
                                    }

                                    for (var i = startcount; i <= End; i++)
                                    {
                                        if (i == startcount)
                                        {
                                            if (i > 0)
                                            {
                                                <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@arr[0]-@i'><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@arr[0]-@i'> @i</a></li>
                                            }
                                        }
                                        else if (i < End)
                                        {
                                            <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@arr[0]-@i'> @i "</a></li>
                                        }
                                        else if (i == End)
                                        {
                                            <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@arr[0]-@i'> @i </a></li>
                                            if (i < (data - 5))
                                            {
                                      int iadd = i + 1;
                                                <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@arr[0]-@iadd'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
            }
        }
    }

    <h5 class='padding-15'>صفحه @start از @data </h5>

                                }
                                else if (urlse == "magazine")
                                {
                                    var urlSeg3 = Request.Url.Segments[3];
                                    int data = Convert.ToInt32(DTController.GetAllPages(Convert.ToInt32(urlSeg3)));

                                    for (var i = 0; i < data && i < 11; i++)
                                    {
                                        if (i < 10)
                                        {
                <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@urlSeg3-@i'> @i</a></li>
            }
            else if (i == 10)
            {
                <li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/@urlSeg3-@i'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
            }
        }
        <h5 class='padding-15'>صفحه 0 از  @data </h5>


    }





                            }





                        </ul>
                    </div>
                    <div id="pagenum" class="col-md-3 no-margin ">

                    </div>

                </div>



                <div class="col-md-2 blog_right no-padding ellipsistitle" id="MagazinesNews">




                    <div class="widget">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">پربازدید ترین ها</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="list-unstyled div-bg-white" id="MostRecentNews">
                                <div class="clearfix"></div>

                                @{
                                    foreach (var item in Utility.lstTopNews)
                                    {
                                        var Cleanlink = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");
                                        <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@item.NTitle' href='@Cleanlink'>  @item.NTitle </a></li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>





                    @{

                        foreach (var item in Utility.lstMagUnDisc)
                        {

                            <div class='widget'>
                                <div class='widget-header text-align-center'><a class='colorblack' href='http://www.greenoptimizer.com/Home/Magazine/@item.MagazineID'><h6 class='line-height-2-5'>@item.MagazineName</h6></a></div><div class='widget-content md-padding'>

                                    <ul id='mgz" + value.MagazineID + "' class='list-unstyled div-bg-white'>
                                        <div class='clearfix'></div>
                                        @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                            {

                                                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-");
                                                <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                                            }


                    }



                </div>

                <div class="clearfix"></div>
            </div><!-- end blog -->
        </div>
    </div>

}

@section ScriptJs{



    <script>
        //$(document).ready(function () {

        //    //$.getJSON("/DT/GetMostRecentNews", function (data) {
        //    //    var $xml = $(data);
        //    //    var allhtml = "";
        //    //    $.each($xml, function (index, value) {
        //    //        var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //    //        var $taga = "<li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='" + value.NTitle + "' href='" + Prehref + "'> " + value.NTitle + " </a></li>";
        //    //        allhtml += $taga;
        //    //    });
        //    //    $('#MostRecentNews').append(allhtml);
        //    //});
        //    //$.getJSON("/DT/GetMagazines", function (data) {
        //    //    var $xml = $(data);
        //    //    var allhtml = "";
        //    //    $.each($xml, function (index, value) {
        //    //        var $eachMagazine = "<div class='widget'><div class='widget-header text-align-center'><a class='colorblack' href='http://www.greenoptimizer.com/Home/Magazine/" + value.MagazineID + "'><h6 class='line-height-2-5'>" + value.SiteName + "</h6></a></div><div class='widget-content md-padding'><ul id='mgz" + value.MagazineID + "' class='list-unstyled div-bg-white'><div class='clearfix'></div></ul></div></div>";
        //    //        $('#MagazinesNews').append($eachMagazine);
        //    //        $.getJSON("/DT/GetLatestNewsByMagazineID/" + value.MagazineID + "", function (myData) {
        //    //            var $xData = $(myData);
        //    //            $.each($xData, function (key, item) {
        //    //                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //    //                var $ulItem = "<li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='" + item.NTitle + "' href='" + Prehref + "'> " + item.NTitle + "</a></li>";
        //    //                $("#mgz" + value.MagazineID).append($ulItem);
        //    //            });
        //    //        });
        //    //    });
        //    //});

        //    //$.getJSON("/DT/GetDistinctMagazines", function (data) {
        //    //    var $xml = $(data);
        //    //    var allhtml = "";
        //    //    $.each($xml, function (index, value) {
        //    //        var myitem = "<li><a href='http://www.greenoptimizer.com/Home/Magazine/" + value.MagazineID + "'>" + value.SiteName + "</a></li>";
        //    //        $('#MyMagazinesG').append(myitem);

        //    //    });
        //    //    $('#MyMagazinesG').append("<div class='clearfix'></div>");
        //    //});






        //    ///////////////////////Load content
        //    var pathname = window.location.pathname;
        //    if (pathname.toLowerCase().indexOf("articleshow") >= 0) {
        //        ///////////////////////articleshow
        //        var n = pathname.lastIndexOf('/');
        //        var narticleshow = pathname.substring(n + 1);

        //        $.getJSON("/DT/GetAllNews/" + narticleshow, function (data) {
        //            var $xml = $(data);
        //            $.each($xml, function (index, value) {
        //                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //                var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
        //                $("#CenterContent").append(newesItem)
        //            });
        //        });

        //        $.getJSON("/DT/GetAllPages/0", function (data) {

        //            var start = 0;
        //            if (narticleshow > 5) {
        //                start = parseInt(narticleshow) - 5;
        //            }
        //            var End = data;
        //            if (narticleshow < (parseInt(data) - 5)) {
        //                End = parseInt(narticleshow) + 5;
        //            }
        //            var PagesItem = "";

        //            for (var i = start; i <= End; i++) {
        //                if (i == start) {
        //                    console.log(i);
        //                    if (i > 0) {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' ><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>";
        //                    }
        //                    else {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
        //                    }
        //                }
        //                else if (i < End) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
        //                }
        //                else if (i = End) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
        //                    if (i < (parseInt(data) - 5)) {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + parseInt(i + 1) + "' ><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>";
        //                    }
        //                }
        //            }

        //            $("#PageNumber").append(PagesItem)


        //            PageNum = "<h5 class='padding-15'>صفحه " + narticleshow + " از " + data + "</h5>";
        //            $("#pagenum").append(PageNum)
        //        });






        //    }
        //    else if (pathname.toLowerCase().indexOf("article") >= 0) {
        //        //////////////////////////////article
        //        $.getJSON("/DT/GetAllNews/0", function (data) {
        //            var $xml = $(data);
        //            $.each($xml, function (index, value) {
        //                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //                var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
        //                $("#CenterContent").append(newesItem)
        //            });
        //        });

        //        $.getJSON("/DT/GetAllPages/0", function (data) {

        //            var PagesItem = "";
        //            var PageNum = "";
        //            for (var i = 0; i < data && i < 11; i++) {
        //                if (i < 10) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
        //                }
        //                else if (i = 10) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/ArticleShow/" + i + "' ><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>";
        //                }
        //            }
        //            $("#PageNumber").append(PagesItem)

        //            PageNum = "<h5 class='padding-15'>صفحه 0 از " + data + "</h5>";
        //            $("#pagenum").append(PageNum)
        //        });





        //    }

        //    else if (pathname.toLowerCase().indexOf("magazineselected") >= 0) {
        //        /////////////////////////////////magazineselected

        //        var n = pathname.lastIndexOf('/');
        //        var tmp = pathname.substring(n + 1);
        //        var arr = tmp.split('-');

        //        var nMagazineID = arr[0];
        //        var start = arr[1];

        //        $.getJSON("/DT/GetAllNewsMagazine/", { id: nMagazineID, start: start }, function (data) {
        //            var $xml = $(data);
        //            $.each($xml, function (index, value) {
        //                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //                var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
        //                $("#CenterContent").append(newesItem)
        //            });
        //        });

        //        $.getJSON("/DT/GetAllPages/" + nMagazineID, function (data) {

        //            var startcount = 0;
        //            if (start > 5) {
        //                startcount = parseInt(start) - 5;
        //            }
        //            var End = data;
        //            if (start < (parseInt(data) - 5)) {
        //                End = parseInt(start) + 5;
        //            }
        //            console.log("startcount" + startcount);
        //            console.log("End" + End);
        //            var PagesItem = "";

        //            for (var i = startcount; i <= End; i++) {
        //                if (i == startcount) {
        //                    if (i > 0) {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' ><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>";
        //                    }
        //                    else {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
        //                    }
        //                }
        //                else if (i < End) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
        //                }
        //                else if (i = End) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
        //                    if (i < (parseInt(data) - 5)) {
        //                        PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + parseInt(i + 1) + "' ><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>";
        //                    }
        //                }
        //            }

        //            $("#PageNumber").append(PagesItem)


        //            PageNum = "<h5 class='padding-15'>صفحه " + start + " از " + data + "</h5>";
        //            $("#pagenum").append(PageNum)

        //        });





        //    }
        //    else if (pathname.toLowerCase().indexOf("magazine") >= 0) {
        //        /////////////////////////magazine

        //        var n = pathname.lastIndexOf('/');
        //        var nMagazineID = pathname.substring(n + 1);

        //        $.getJSON("/DT/GetAllNewsMagazine/", { id: nMagazineID, start: 0 }, function (data) {
        //            var $xml = $(data);
        //            $.each($xml, function (index, value) {
        //                var Prehref = "http://www.greenoptimizer.com/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-").replace(";", "-").replace(",", "-").replace(".", "-").replace(":", "-").replace("؛", "-").replace("؟", "-").replace("»", "-").replace("«", "-").replace("!", "-").replace("(", "-").replace(")", "-").replace("{", "-").replace("}", "-").replace("[", "-").replace("]", "-");
        //                var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a target='_blank' href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a target='_blank' href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
        //                $("#CenterContent").append(newesItem)
        //            });
        //        });


        //        $.getJSON("/DT/GetAllPages/" + nMagazineID, function (data) {

        //            var PagesItem = "";
        //            var PageNum = "";
        //            for (var i = 0; i < data && i < 11; i++) {
        //                if (i < 10) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
        //                }
        //                else if (i = 10) {
        //                    PagesItem += "<li><a href='http://www.greenoptimizer.com/Home/MagazineSelected/" + nMagazineID + "-" + i + "' ><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>";
        //                }
        //            }
        //            $("#PageNumber").append(PagesItem)

        //            PageNum = "<h5 class='padding-15'>صفحه 0 از " + data + "</h5>";
        //            $("#pagenum").append(PageNum)
        //        });
        //    }


        //});
    </script>

}