@using GOWEB.Models;
@{

    Layout = null;

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>


@{


    int NID = (int)ViewData["NewsID"];
    using (greenopt_GONewsEntities db = new greenopt_GONewsEntities())
    {
        var q = (from i in db.tblNews
                 where i.NewsID == NID
                 select i).FirstOrDefault();
        q.ViewNumber = q.ViewNumber + 1;
        db.SaveChanges();

        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>@q.Title</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="CHARSET" content="utf-8" />
            <meta content="fa" http-equiv="Content-Language" />
            <meta name="ROBOTS" content="index,follow" />
            <meta name="description" content="طراحی سایت, بهینه سازی سایت, طراحی وب سایت, بهینه سازی وب سایت, سئو" />
            <meta name="language" content="@q.tblMagazine.tblMenu.tblLanguage.LanguageName" />
            <meta name="Content-Language" content="@q.tblMagazine.tblMenu.tblLanguage.LanguageName" />


            <meta name="description" content="بهینه سازی سایت | سئو وب سایت | طراحی سایت | افزایش رتبه سایت در گوگل | ارتقاء رتبه در الکسا | SEO وبسایت " />
            <meta name="keywords" content="@q.Title.Replace(' ', ',').ToString()|بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />

            <meta name="DC.keywords" content="@q.Title.Replace(' ', ',').ToString()|بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
            <meta name="DC.description" content="@q.Title.Replace(' ', ',').ToString()|بهینه سازی سایت | سئو وب سایت | طراحی سایت | افزایش رتبه سایت در گوگل | ارتقاء رتبه در الکسا | SEO وبسایت " />
            <meta name="DC.Title" content="@q.Title.Replace(' ', ',').ToString()|بهینه سازی وب سایت |  طراحی سایت | سئو وبسایت | SEO" />
            <meta name="DC.Subject" content="@q.Title.Replace(' ', ',').ToString()|طراحی سایت |  بهینه سازی سایت |  طراحی وب سایت |  بهینه سازی وب سایت |  سئو " />

            <meta property="og:site_name" content="بهینه ساز سبز, Green Optimizer" />
            <meta property="og:title" content="بهینه سازی سایت - سئو سایت - طراحی سایت - بهینه ساز سبز" />
            <meta property="og:url" content="http://www.greenoptimizer.com" />
            <meta property="og:description" content="@q.Title.Replace(' ', ',').ToString()|بهینه سازی سایت - سئو سایت - طراحی سایت - بهینه ساز سبز" />

            <link rel="shortcut icon" href="~/images/GO-green-ico.png" type="image/x-icon" />
            <script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">
            <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
            <link href="~/css/blue.css" rel="stylesheet" type="text/css" media="all" />
        </head>
        <body class="detailsArticle">
            <div class="container width-auto">

                <div class="row borderbtm-detail">
                    <div class="col-md-2 news_box padding-5 text-align-center-mob">
                        <ul class="list-unstyled">
                            <li class="padding-2">
                                <i class="fa fa-bar-chart font-12" aria-hidden="true"><a class="font-family-IRANSans margin-right-5" target="_blank" href="http://greenoptimizer.com/">بهینه سازی سایت</a></i>
                            </li>
                            <li class="padding-2">
                                <i class="fa fa-line-chart font-12" aria-hidden="true"><a class="font-family-IRANSans margin-right-5" target="_blank" href="http://greenoptimizer.com/">سئو سایت</a></i>
                            </li>
                            <li class="padding-2">
                                <i class="fa fa-laptop font-12" aria-hidden="true"><a class="font-family-IRANSans margin-right-5" target="_blank" href="http://greenoptimizer.com/">طراحی سایت</a></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 news_box ">
                        <h6>@q.Title</h6>
                        @if (q.Descriptions.Contains("img"))
                        {
                            <span>مشاهده ادامه متن در ذیل می باشد.</span>
                        }
                        else
                        {
                            <span>@Html.Raw(q.Descriptions)</span>
                        }
                    </div>
                    <div class="col-md-1 padding-logo text-align-center-mob">
                        <a target="_blank" href="http://greenoptimizer.com/"><img src="~/images/GO-green.png" class="img-responsive" /></a>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                        <div class="divsharedetail">
                            <div class="divsharedetailin">
                                <a target="_blank" id="googleplus" title="share on google plus" href="https://plus.google.com/share?url=http://localhost:28585/Home/ArticleDetails/@q.NewsID|@q.Title.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-").ToString()">
                                    <img border="0" alt="گوگل پلاس" src="~/images/google.png">
                                </a>&ensp;
                                <a target="_blank" title="share on cloob" href="http://www.cloob.com/share/link/add?url=http://localhost:28585/Home/ArticleDetails/@q.NewsID|@q.Title.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-").ToString()">
                                    <img border="0" alt="کلوب" src="~/images/cloob.png">
                                </a>&ensp;
                                <a target="_blank" title="share on linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://localhost:28585/Home/ArticleDetails/@q.NewsID|@q.Title.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-").ToString()">
                                    <img border="0" alt="linkedin" src="~/images/linkedin.png">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            @{

                var item = q.LinkUrl;

                //string myUrl = item.Substring(7, item.Length - 7);
                string myUrl;

                if (item.Contains("https"))
                {
                    myUrl = item.Split(new string[] { "https://" }, StringSplitOptions.None)[1].ToString();

                }
                else
                {
                    myUrl = item.Split(new string[] { "http://" }, StringSplitOptions.None)[1].ToString();
                }

            }




            <iframe id="myframe" name="myframe" src="//@myUrl" class="iframeclass" frameborder="0"></iframe>

        </body>
                }
}

</html>




<script>


    //counter
    var sc_project = 11467650;
    var sc_invisible = 1;
    var sc_security = "2f7d91ee";
    var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script> ");
</script>