@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;




@section Head
{

    <title>سئو سبز | بهینه سازی سایت | طراحی سایت | سئو سایت</title>

    <meta name="title" content="سئو سبز | بهینه سازی سایت | سئو سایت | طراحی سایت ارزان | افزایش رنک الکسا " />
    <meta name="keywords" content=" سئو سبز | بهینه سازی سایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | سئو | طراحی سایت فروشگاهی |طراحی سایت ارزان| طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="url" content="http://www.iwebdesignseo.com" />

    <meta name="DC.keywords" content="سئو سبز | بهینه سازی سایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | سئو | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="DC.description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content=" سئو سبز | بهینه سازی وب سایت |  طراحی سایت | سئو سایت" />
    <meta name="DC.Subject" content="سئو سبز | طراحی سایت |  بهینه سازی سایت |  طراحی وب سایت |  بهینه سازی وب سایت |  سئو " />

    <meta property="og:title" content="سئو سبز | بهینه سازی سایت | سئو سایت | طراحی سایت ارزان | افزایش رنک الکسا " />
    <meta name="og.keywords" content="سئو سبز | بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta property="og:url" content="http://www.iwebdesignseo.com" />
    <meta property="og:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد." />

    <meta name="twitter:title" content="سئو سبز | بهینه سازی سایت | سئو سایت | طراحی سایت ارزان | افزایش رنک الکسا" />
    <meta name="twitter:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="www.iwebdesignseo.com" />
    <meta name="twitter:keywords" content="سئو سبز | بهینه سازی سایت  | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت |  تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | طراحی سایت فروشگاهی | طراحی سایت ارزان | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />

}



@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">
}
@section MainContent
    {




    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-md-8 mobile-resp">

                            <div id="example1" class="slider-pro">
                                <div class="sp-slides">
                                    <div class="sp-slide">
                                        <img alt="طراحی سایت کاملا واکنشگرا و رسپانسیو" class="sp-image width-100per" src="../images/Responsive-Design-GO.jpg"
                                             data-src="../images/Responsive-Design-GO.jpg"
                                             data-retina="../images/Responsive-Design-GO.jpg" />
                                    </div>
                                    <div class="sp-slide">
                                        <img alt="بهینه سازی سایت" class="sp-image width-100per" src="../images/SEO-GO.jpg"
                                             data-src="../images/SEO-GO.jpg"
                                             data-retina="../images/SEO-GO.jpg" />
                                    </div>
                                    <div class="sp-slide">
                                        <img alt="طراحی نرم افزار موبایل" class="sp-image width-100per" src="../images/Goptimizer.png"
                                             data-src="../images/Goptimizer.png"
                                             data-retina="../images/Goptimizer.png" />
                                    </div>
                                </div>

                                <div class="sp-thumbnails dir-rtl font-family-bhoma">
                                    <div class="sp-thumbnail">
                                        <a class="sp-thumbnail-description HomeSlidertxb fontmedia10" href="/Home/طراحی-سایت">طراحی سایت</a>
                                        <a class="sp-thumbnail-title HomeSlidertxb slidertxtdisplaynone " href="/Home/طراحی-سایت">کاملا واکنش گرا و رسپانسیو</a>
                                    </div>

                                    <div class="sp-thumbnail">
                                        <a class="sp-thumbnail-description HomeSlidertxb fontmedia10" href="/Home/سئو-سایت">بهینه سازی سایت</a>
                                        <a class="sp-thumbnail-title HomeSlidertxb slidertxtdisplaynone " href="/Home/سئو-سایت">بهینه سازی سئو و تبلیغات در گوگل</a>
                                    </div>
                                    <div class="sp-thumbnail">
                                        <a class="sp-thumbnail-description HomeSlidertxb fontmedia10" href="/Home/طراحی-سایت">طراحی نرم افزار تحت موبایل</a>
                                        <a class="sp-thumbnail-title HomeSlidertxb slidertxtdisplaynone " href="/Home/طراحی-سایت">اندروید، iOS، ویندوزفون</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-4">
                            <section class="mrg-bottom center dk-box dk-tr-banner teamdisplaynone">
                                <a href="https://www.telegram.me/iwebdesignseo" target="_blank">
                                    <img class="mediawidth100per" src="~/images/teamworkGo.jpg" alt="پشتیبانی سئو سبز" title="پشتیبانی سئو سبز">
                                </a>
                            </section>
                            <section class="mrg-bottom center dk-box dk-tr-banner margin-top10 padding-20 text-align-center">

                                <div class="row no-padding no-margin">
                                    <div class="col-xs-2 col-sm-2 col-md-2 no-padding text-align-right"><i class="fa fa-mobile index-ico" aria-hidden="true"></i></div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 no-padding text-align-left"><h5>09128238263</h5></div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 no-padding text-align-right"><i class="fa fa-phone index-ico" aria-hidden="true"></i></div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 no-padding text-align-left"><h5>02177166964</h5></div>
                                </div>


                            </section>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 margin-bottom20">
                        <div class="col-md-8">
                            <div id="dk-services-feature" class="dk-box text-align-center teamdisplaynone">
                                <ul class="list-style-none">
                                    <li class="padding-9">
                                        <a href="/Home/طراحی-سایت" target="_blank" title="تحویل با سرعت بالای سفارشات در وبسایت بهینه ساز سبز">

                                            <i class="icon icon-delivery"></i>
                                            <span class="padding-9">تحویل با سرعت</span>
                                        </a>
                                    </li>
                                    <li class="padding-9">
                                        <a href="/Home/طراحی-سایت" target="_blank" title="هفت روز ضمانت در وبسایت بهینه ساز سبز">

                                            <i class="icon icon-return-policy"></i>
                                            <span class="padding-9">٧ روز ضمانت </span>
                                        </a>
                                    </li>
                                    <li class="padding-9">
                                        <a href="/Home/طراحی-سایت" target="_blank" title="پرداخت اینترنتی هزینه سفارشات در وبسایت بهینه ساز سبز">

                                            <i class="icon icon-payment-terms"></i>
                                            <span class="padding-9">پرداخت آنلاین</span>
                                        </a>
                                    </li>
                                    <li class="padding-9">
                                        <a href="/Home/طراحی-سایت" target="_blank" title="تضمین بهترین قیمت در وبسایت بهینه ساز سبز">

                                            <i class="icon icon-price-guarantee"></i>
                                            <span class="padding-9">تضمین بهترین قیمت</span>
                                        </a>
                                    </li>
                                    <li class="padding-9">
                                        <a href="/Home/طراحی-سایت" target="_blank" title="خدمات ما شامل ضمانت می باشند">

                                            <i class="icon icon-origin-guarantee"></i>
                                            <span class="padding-9">ضمانت کالا</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 text-align-center">
                            <section class="mrg-bottom center dk-box dk-tr-banner mediatgbox">
                                <a href="https://www.telegram.me/iwebdesignseo" target="_blank">
                                    <img class="mediawidth100per" src="~/images/iwebdesignseoTelegram.png" alt="پشتیبانی سئو سبز" title="پشتیبانی سئو سبز">
                                </a>
                            </section>
                        </div>
                    </div>
                </div>






                <div class="row">

                    <div class="span_of_4">
                        <!-- start span_of_4 -->
                        <div class="col-xs-12 margin-bottom20">
                            <div class="col-md-4 mediamargin-b30">
                                <div class="span4_of_list height-auto">
                                    <span class="active"><i class="fa fa-windows"></i></span>
                                    <h3><a href="/Home/طراحی-سایت"><b>طراحی سایت</b></a></h3>
                                    <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی"><h1 class="h1ToA">طراحی سایت تبلیغاتی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش"><h1 class="h1ToA">طراحی سایت فروش</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی"><h1 class="h1ToA">طراحی سایت فروشگاهی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان"><h1 class="h1ToA">طراحی سایت تبلیغاتی رایگان</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی"><h1 class="h1ToA">طراحی سایت خرید و فروش اینترنتی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای"><h1 class="h1ToA">طراحی سایت بازاریابی شبکه ای</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه"><h1 class="h1ToA">طراحی سایت آموزشگاه</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی"><h1 class="h1ToA">طراحی سایت بازرگانی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn btn-2 active" href="/Home/طراحی-سایت">هزینه طراحی سایت</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mediamargin-b30">
                                <div class="span4_of_list height-auto">
                                    <span class="active"><i class="fa fa-line-chart"></i></span>
                                    <h3><a href="/Home/طراحی-سایت"><b>طراحی وب سایت</b></a></h3>
                                    <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی"><h1 class="h1ToA">طراحی سایت نیازمندی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود"><h1 class="h1ToA">طراحی سایت دانلود</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه"><h1 class="h1ToA">طراحی سایت چند زبانه</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ"><h1 class="h1ToA">طراحی سایت هاستینگ</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه"><h1 class="h1ToA">طراحی سایت یک فروشگاه</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش"><h1 class="h1ToA">طراحی سایت همکاری در فروش</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم"><h1 class="h1ToA">طراحی سایت چت روم</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی"><h1 class="h1ToA">طراحی سایت شرکتی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn  btn-2b" href="/Home/طراحی-سایت">قیمت طراحی سایت</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="span4_of_list height-auto">
                                    <span class="active"><i class="fa fa-mobile"></i></span>
                                    <h3><b><a href="/Home/طراحی-سایت">طراحی وبسایت</a></b></h3>
                                    <ul class="list-unstyled Allfeatures nav_list text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس"><h1 class="h1ToA">طراحی سایت فروشگاهی با وردپرس</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما"><h1 class="h1ToA">طراحی سایت فروش بلیط هواپیما</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی"><h1 class="h1ToA">طراحی سایت تبلیغات کلیکی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک"><h1 class="h1ToA">طراحی سایت تجارت الکترونیک</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل"><h1 class="h1ToA">طراحی سایت فروش فایل</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان"><h1 class="h1ToA">طراحی سایت فروشگاه اینترنتی ارزان</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان"><h1 class="h1ToA">طراحی سایت فروشگاهی رایگان</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک"><h1 class="h1ToA">طراحی سایت املاک</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی"><h1 class="h1ToA">طراحی سایت عکاسی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn btn-2b" href="/Home/طراحی-سایت">تعرفه طراحی سایت</a></b>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!-- end span_of_4 -->

                </div>













                <div class="row">

                    <div class="span_of_4">
                        <!-- start span_of_4 -->
                        <div class="col-xs-12 margin-bottom20">
                            <div class="col-md-4 mediamargin-b30">
                                <div class="span4_of_list ">
                                    <span class="active"><i class="fa fa-windows"></i></span>
                                    <h3><a href="/Home/سئو-سایت"><b>سئو سایت</b></a></h3>
                                    <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-سایت-رایگان';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-سایت-رایگان"><h1 class="h1ToA">سئو سایت رایگان</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-ارزان';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-ارزان"><h1 class="h1ToA">سئو ارزان</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-برای-بلاگر';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-برای-بلاگر"><h1 class="h1ToA">سئو برای بلاگر</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-برای-سایت';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-برای-سایت"><h1 class="h1ToA">سئو برای سایت</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تصاویر';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تصاویر"><h1 class="h1ToA">سئو تصاویر</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تخصصی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تخصصی"><h1 class="h1ToA">سئو تخصصی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تولز';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تولز"><h1 class="h1ToA">سئو تولز</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تگ-متا';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تگ-متا"><h1 class="h1ToA">سئو تگ متا</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn btn-2 active" href="/Home/سئو-سایت">هزینه سئو</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 mediamargin-b30">
                                <div class="span4_of_list ">
                                    <span class="active"><i class="fa fa-line-chart"></i></span>
                                    <h3><a href="/Home/سئو-سایت"><b>سئو حرفه ای</b></a></h3>
                                    <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/چک-لیست-سئو';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/چک-لیست-سئو"><h1 class="h1ToA">چک لیست سئو</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/چک-سئو-قالب';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/چک-سئو-قالب"><h1 class="h1ToA">چک سئو قالب</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ای-سایت';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ای-سایت"><h1 class="h1ToA">سئو حرفه ای سایت</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ایی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ایی"><h1 class="h1ToA">سئو حرفه ایی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-کار-حرفه-ای';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-کار-حرفه-ای"><h1 class="h1ToA">سئو کار حرفه ای</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/آموزش-سئو-حرفه-ای-وردپرس';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/آموزش-سئو-حرفه-ای-وردپرس"><h1 class="h1ToA">آموزش سئو حرفه ای وردپرس</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-بهینه-سازی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-بهینه-سازی"><h1 class="h1ToA">سئو بهینه سازی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تضمینی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-تضمینی"><h1 class="h1ToA">سئو تضمینی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn  btn-2b" href="/Home/سئو-سایت">قیمت سئو</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="span4_of_list ">
                                    <span class="active"><i class="fa fa-mobile"></i></span>
                                    <h3><b><a href="/Home/سئو-سایت">تعرفه سئو سایت</a></b></h3>
                                    <ul class="list-unstyled Allfeatures nav_list text-align-right">
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/بهترین-سایت-چک-سئو';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/بهترین-سایت-چک-سئو"><h1 class="h1ToA">بهترین سایت چک سئو</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ای-وبسایت';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-حرفه-ای-وبسایت"><h1 class="h1ToA">سئو حرفه ای وبسایت</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-در-طراحی-وبسایت';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-در-طراحی-وبسایت"><h1 class="h1ToA">سئو در طراحی وبسایت </h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-سایت-فروشگاهی';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-سایت-فروشگاهی"><h1 class="h1ToA">سئو سایت فروشگاهی</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-وردپرس-yoast';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/سئو-وردپرس-yoast"><h1 class="h1ToA">سئو وردپرس</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/هزینه-سئو';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/هزینه-سئو"><h1 class="h1ToA">هزینه سئو</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="">
                                            <div class="shopping wrapper">
                                                <div class="col-md-12 no-padding">
                                                    <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/فاکتورهای-سئو';"></span>
                                                    <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/فاکتورهای-سئو"><h1 class="h1ToA">فاکتورهای سئو</h1></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="read_more">
                                        <b><a class="btn btn-2b" href="/Home/سئو-سایت">هزینه سئو سایت</a></b>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div><!-- end span_of_4 -->

                </div>
                <div class="main_grid col-xs-12">
                    <div class="col-md-8">
                        <img alt="بهینه سازی سایت" class="width-100per" src="~/images/advanced-seo.png" />
                    </div>
                    <div class="col-md-4 text-align-center">
                        <img alt="بهینه سازی سئو" class="minddisplaynone" src="~/images/social-media-featured.jpg" />
                    </div>
                </div>








                <div class="col-xs-12 text-align-center ">
                    <div class="col-sm-6 ">
                        <img alt="طراحی سایت" class="seoOptimizerwidth100per" src="~/images/GOfirst.png" />
                    </div>
                    <div class="col-sm-6">
                        <img alt="بهینه سازی سایت" class="seoOptimizerwidth100per" src="~/images/GOsecond.png" />
                    </div>
                </div>







                <div class="row">


                    <div class="col-md-4 blog_right no-padding ellipsistitle" id="MagazinesNews">


                        @{

                            foreach (var item in Utility.lstMagUnDisc)
                            {

                                <div class='widget'>
                                    <div class='widget-header text-align-center'><a class='colorblack' href='/Home/مجله-اینترنتی/a|@item.SiteName'><h6 class='line-height-2-5'>@item.SiteName</h6></a></div><div class='widget-content md-padding'>

                                        <ul class='list-unstyled div-bg-white'>
                                            <div class='clearfix'></div>
                                            @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                                {

                                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                                    <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                                }


                        }



                    </div>

                    <div class="col-md-8  blog_main ">
                        <div id="CenterContent">
                            @{
                                var urlse = Request.Url.Segments[2];


                                foreach (var item in DTController.GetAllNews(0))
                                {
                                    if (item.Description.Contains("a"))
                                    {
                                        string a = item.Description.Replace("href", "class='RemoveA' href='#' key");
                                        item.Description = a;
                                                                                
                                    }
                                    
                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                        <div class='blog_list bg-white'>
                                            <div class='col-md-12 blog_left'>
                                                <a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle</a></h4><span>نوشته شده در تاریخ  @item.PubDate <a><i class='fa fa-eye'></i></a> @item.ViewNumber  بازدید</span>


                                                <p class='para'>@Html.Raw(item.Description)</p>
                                                <div class='read_btn padding-bottom10'><a target='_blank' href='@Prehref'><button class='btnArticle'>ادامه مطلب</button></a></div>
                                            </div><div class='clearfix'></div>
                                        </div>

                                   


                                }

                            }





                        </div>

                    </div>















                    <div class="row  margin-top10">
                        <div class="col-md-12">
                            <div class="dk-box ">

                                <div class="row">
                                    <h5 class="col-md-12 ">جدیدترین مطالب</h5>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 SearchChk">
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت فروشگاهی با وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت چند زبانه</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>سئو حرفه ای وبسایت</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>آموزش سئو حرفه ای وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت فروشگاهی با وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت چند زبانه</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>سئو حرفه ای وبسایت</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>آموزش سئو حرفه ای وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت فروشگاهی با وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت چند زبانه</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>سئو حرفه ای وبسایت</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>آموزش سئو حرفه ای وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت فروشگاهی با وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت چند زبانه</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>سئو حرفه ای وبسایت</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>آموزش سئو حرفه ای وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت فروشگاهی با وردپرس</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>طراحی سایت چند زبانه</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>سئو حرفه ای وبسایت</b>
                                        </div>
                                        <div class="tagstyle col-calc-article">
                                            <b>آموزش سئو حرفه ای وردپرس</b>
                                        </div>





                                    </div>



                                </div>



                            </div>
                        </div>


                    </div>


                    <div class="row margin-top10">
                        <div class="col-md-12">
                            <div class="dk-box ">

                                <div class="row">
                                    <h5 class="col-md-12 ">ابر برچسب ها (کلیک کنید)</h5>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 SearchChk">
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>

                                        <div class="tagstyle col-calc-7">
                                            <b>پارکینگ</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>آسانسور</b>
                                        </div>
                                        <div class="tagstyle col-calc-7">
                                            <b>سرویس ایرانی</b>
                                        </div>

                                    </div>



                                </div>



                            </div>
                        </div>


                    </div>




                    <div class="clearfix"></div>

                </div>
            </div>
        </div>


}

@section ScriptJs{

    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#example1').sliderPro({
                width: 710,
                height: 370,
                arrows: true,
                buttons: false,
                waitForLayers: true,
                thumbnailWidth: 200,
                thumbnailHeight: 100,
                thumbnailPointer: true,
                autoplay: true,
                autoplayDelay: 2500,
                autoScaleLayers: false,
                breakpoints: {
                    50: {
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>





}
