@using GOWEB.Models
@section StyleScript{
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent{

    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">خدمات سئو</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="index.html">خانه</a></li>
                    <li class="active">سئو</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container persiannumber">






            @*<div class="main about span_of_3">
                <div class="pricing2">
                


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>برنزی</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">صفحه سوم یا چهارم</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>افزایش رتبه و جایگاه</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-line-chart seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>لینک بیلدینگ</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بک لینک : 500 [PR10]</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-external-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10  no-padding text-align-right">
                                            <h6>بازدید کننده : 5000</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-eye seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailSeo" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>نقره ای</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">صفحه دوم</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>افزایش رتبه و جایگاه</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-line-chart seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>لینک بیلدینگ</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بک لینک : 500 PR4</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-external-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بازدید کننده : 5000</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-eye seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailSeo" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>طلایی</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">صفحه اول</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>افزایش رتبه و جایگاه</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-line-chart seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>لینک بیلدینگ</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بک لینک : 500 PR4</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-external-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بازدید کننده : 5000</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-eye seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailSeo" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>اختصاصی</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">صفحه اول لینک 1 تا 4</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>افزایش رتبه و جایگاه</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-line-chart seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>لینک بیلدینگ</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بک لینک : 500 PR4</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-external-link seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بازدید کننده : 5000</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-eye seoGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailSeo" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>
            </div>*@
            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-12 ">
                        <div class="text-align-right">
                            <h4 class=""><i class="fa fa-chevron-circle-left font-14 margin-left-8" aria-hidden="true"></i>هزینه سرویس ها در یک نگاه</h4>
                        </div>
                        <div class="text-align-center">
                            <h6 class="">قیمت های ذیل برای اکثریت کلمات متعادل می باشند و برای اطلاع دقیق لطفا با ما تماس بگیرید.</h6>
                        </div>
                        <div class="text-align-center">
                            <h6 class="fcolorRed">تمامی قیمت ها به تومان می باشد.</h6>
                        </div>
                        <div class="">
                            <table class="tblcart text-align-center width-100per" align="center">
                                <colgroup>
                                    <col class="width-15per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                </colgroup>
                                <thead class="tbl-border-bottom">
                                    <tr>
                                        <td class="tblcarttd tdborder ">نوع سرویس</td>
                                        <td class="tblcarttd tdborder ">تک کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">دو کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">سه کلمه ای و بالاتر</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                    </tr>
                                </thead>
                                <tbody id="Result">


                                    @using (dbGOEntities db = new dbGOEntities())
                                    {

                                        foreach (var item in db.tblProducts.Where(i => i.oneWord != null).ToList().OrderBy(c => c.Priority))
                                        {
                                            <tr class="">
                                                <td class="tdborder" rowspan="3">
                                                    <div class="">
                                                        <h6>@(item.ProductName)</h6>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.oneWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.suppPerMonthOne))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(item.OneWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.twoWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.suppPerMonthTwo))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(item.TwoWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.threeWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", item.suppPerMonthThree))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC ">
                                                    <div class="">
                                                        <h5>@(item.ThreeWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.oneWord)*Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(item.OneWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(item.TwoWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(item.ThreeWordDay*1.5)</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="tbl-border-bottom">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.oneWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5>@(item.OneWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5>@(item.TwoWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5>@((item.ThreeWordDay)*2)</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
            </div>









            <div id="divdetailSeo" class="middle_grid">
                <div class="span_of_4">
                    <div class="col-md-6 ">


                        <img src="~/images/Target_01.png" />
                        <img src="~/images/Target_02.png" />


                    </div>
                    <div class="col-md-6 ">
                        <h3>تمام سفارشات شامل موارد زیر می شوند</h3>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">شروع بلافاصله بعد از سفارش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">بدون نیاز به پسورد</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">کمترین ریزش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">نازلترین قیمت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پرداخت ایمن</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">ضمانت بازگشت وجه</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">


                        <img src="~/images/keywords_seo.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h3>سئو سایت در کلمات کلیدی</h3>
                        <p class="seo-text">سایت هایی که در آنها تولید محتوا حرف اول را می زند و کلمه کلیدی انحصاری در آن وجود ندارد سرویس خدمات سئو و بهینه سازی کلی سایت پیشنهاد می شود. در این روش سایت به نحوی از لحاظ زیرساختی قوی می شود که محتوای آن قدرت بالا آمدن در نتایج بالای موتور چستجو را داشته باشد.</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h3>سئو کلی سایت</h3>
                        <p class="seo-text">سایت های خدماتی و مانند آنها که در یک یا چند حیطه مشخص فعالیت دارند معمولا به دنبال بالا بودن در یکسری کلمات کلیدی هستند. در این حالت سرویس خدمات سئو کلمات کلیدی و رقابتی بهترین انتخاب است.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img src="~/images/fullseo.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img src="~/images/research_note.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h3>مشاوره سئو و آنالیز وضعیت سئو سایت</h3>
                        <p class="seo-text">در شرایطی که سایت تلفیقی از دو مورد سئو کلی و کلمات رقابتی را نیاز داشته باشد این گزینه بهترین انتخاب است. در این شرایط علاوه بر بالا بودن در یکسری کلمات کلیدی ، سایت قابلیت و قدرت لازم برای بالا بودن در محتوای تولید شده را نیز دارد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>




        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>





}

@section ScriptJs
    {
    <script>

        $(document).ready(function () {

            $('.persiannumber').persiaNumber();

        });

        $('#days').on('input', function (e) {

            //var q = $("#days").val();

            //var prOne = $("#txt9").val();
            //var prTwo = $("#txt10").val();
            //var prThree = $("#txt11").val();
            //var prFour = $("#txt12").val();
            //if (q = 35 && q <= 60) {


            //    var qPackOne = $("#txt9").val(prOne);
            //    var qPackTwo = $("#txt10").val(prTwo);
            //    var qPackThree = $("#txt11").val(prThree);
            //    var qPackFour = $("#txt12").val(prFour);
            //} else if(q > 60 && q < 85) {
            //    var total = $("#days").val() - 35;


            //    var qPackOne = $("#txt9").val(prOne - 1100000);
            //    var qPackTwo = $("#txt10").val(prTwo - 900000 );
            //    var qPackThree = $("#txt11").val(prThree - 700000);
            //    var qPackFour = $("#txt12").val(prFour - 450000);
            //}
            //console.log( $("#keywords").val());
            ////$('#MyKeyWord').html($("#keywords").val());
            //$('#MyKeyWord').html("تعداد کلمات کلیدی : " + qKey);
        });



        String.prototype.allReplace = function (obj) {
            var retStr = this;
            for (var x in obj) {
                retStr = retStr.replace(new RegExp(x, 'g'), obj[x]);
            }
            return retStr;
        };


        var prOne = $("#txt25").val().allReplace({ ',': '' });
        var prTwo = $("#txt26").val().allReplace({ ',': '' });
        var prThree = $("#txt27").val().allReplace({ ',': '' });
        var prFour = $("#txt28").val().allReplace({ ',': '' });

        $('#btncalculate').click(function () {
            var q = $("#days").val();

            if (q <= 80) {
                var qPackOne = $("#txt25").val(numberWithCommas(prOne));
                var qPackTwo = $("#txt26").val(numberWithCommas(prTwo));
                var qPackThree = $("#txt27").val(numberWithCommas(prThree));
                var qPackFour = $("#txt28").val(numberWithCommas(prFour));

            } else if (q > 80) {
                var qPackOne = $("#txt25").val(numberWithCommas(prOne - 1100000));
                var qPackTwo = $("#txt26").val(numberWithCommas(prTwo - 900000));
                var qPackThree = $("#txt27").val(numberWithCommas(prThree - 700000));
                var qPackFour = $("#txt28").val(numberWithCommas(prFour - 450000));
            }
        });


        $('.shopico').click(function () {

            //alert($('.shopping :input').val());
            //alert($('.shopping :input').attr('id'));

            var Count = $('#days').val();
            var Price = $(this).parent().parent().find('.news_letter input').val();
            var ProductID = $(this).parent().parent().find('.news_letter input').attr('id').allReplace({ 'txt': '' });


            $.ajax({
                url: "../AddToCart/AddToCart",
                type: "Post",
                data: JSON.stringify([Count, Price, ProductID]),
                traditional: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    console.log(data);
                    if (data != false) {
                        window.location.href = "/Home/Cart";
                    }
                },
                error: function () {

                    alert('error');
                    console.log("i am erorr")
                }
            });
        });



        $(".detailSeo").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailSeo").offset().top
            }, 2000);
        });



        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        };





    </script>



}