@using GOWEB.Models;
@using System.Xml;
@using GOWEB.Controllers;



@section Head
{

@{
    var urlse = Request.Url.Segments[2];

    //articleshow
    if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/"))
    {
        <title>صفحات مقالات تکنولوژی | سئو سبز</title>

    }
    //article
    else if (urlse.Contains("%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1-%D9%81%D9%86%D8%A7%D9%88%D8%B1%DB%8C-%D9%88-%D8%AA%DA%A9%D9%86%D9%88%D9%84%D9%88%DA%98%DB%8C"))
    {

        <title>مقالات تکنولوژی | سئو سبز</title>
    }
    //magazineselected
    else if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
    {

        <title>صفحات مجله خبری | سئو سبز</title>

    }
    //magazine
    else if (urlse.Contains("%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
    {
        
            <title>مجله خبری | سئو سبز</title>
    }


}




    <meta name="description" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="keywords" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.keywords" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.description" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="DC.Title" content="سئو سبز | مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta name="DC.Subject" content="سئو سبز | مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />

    <meta property="og:title" content="سئو سبز | مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta property="og:url" content="http://iwebdesignseo.com/Home/Article" />
    <meta property="og:description" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />

    <meta name="twitter:title" content="سئو سبز | مقالات تکنولوژی | تکنولوژی | بهینه ساز سبز" />
    <meta name="twitter:description" content="سئو سبز | مقالات تکنولوژی | موبایل | ماشین | اینترنت | برنامه نویسی | آموزش | قیمت | اپلیکیشن | آیفون | اندروید | رونمایی | زمان عرضه | نسخه جدید | مرورگر | ویندوز | پلاگین | بهینه سازی | سئو وب سایت | گوگل | الکسا |  ال جی | نوکیا | سامسونگ | هواوی | گوشی هوشمند | کتاب | ایکس باکس | بازی | پلی استیشن | ایکس باکس | سرعت | دوربین | سرفیس | اسمارت فون | اچ تی سی" />
    <meta name="twitter:creator" content="http://iwebdesignseo.com/Home/Article" />

}
@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">مقالات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">

        <div class="container">
            <div class="blog">



                <div class="col-md-2  blog_right no-padding ">


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG">
                                @{foreach (var item in Utility.lstMag)
                                    {
                                        <li><a href='/Home/مجله-اینترنتی/a|@item.SiteName'>@item.SiteName</a></li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>


                    <div class="widget ">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled   div-bg-white">
                                <li><a target="_blank" href="http://mhzdecor.com/"><img src="~/images/divarpoosh/divarpoosh81.jpg" alt="دیوارپوش"> </a></li>
                                <li><a target="_blank" href="http://mhzdecor.com/"><img src="~/images/divarpoosh/wall81.jpg" alt="دیوارپوش آذران"> </a></li>
                                <li><a target="_blank" href="http://mhzdecor.com/"><img src="~/images/divarpoosh/divarpooshmhz81.jpg" alt="دیوارپوش"> </a></li>
                                <li><a target="_blank" href="http://mhzdecor.com/"><img src="~/images/divarpoosh/kaghazdivarimhz81.jpg" alt="دیوارپوش آذران"> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 ">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/divarpoosh.jpg" alt="دیوارپوش" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/divarpooshazaran.jpg" alt="دیوارپوش آذران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/divarpooshazaranmhz.jpg" alt="دیوارپوش" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/divarpooshmhz.jpg" alt="دیوارپوش آذران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/divarpooshmhzdecor.jpg" alt="دیوارپوش" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://mhzdecor.com/">
                                            <img src="~/images/divarpoosh/thedivarpoosh.jpg" alt="دیوارپوش آذران" class="img-responsive">
                                        </a>
                                    </div>
                                 


                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-md-8  blog_main ">
                    <div id="CenterContent">
                        @{
                            var urlse = Request.Url.Segments[2];

                            //articleshow
                            if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/"))
                            {
                                var urlSeg3 = Request.Url.Segments[3].Substring(4, Request.Url.Segments[3].Length - 4);
                                foreach (var item in DTController.GetAllNews(Convert.ToInt32(ViewBag.NumberTake)))
                                {
                                    if (item.Description.Contains("a"))
                                    {
                                        string a = item.Description.Replace("href", "class='RemoveA' href='#' key");
                                        item.Description = a;

                                    }

                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left dk-box '><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle</a></h4><span>نوشته شده در تاریخ  @item.PubDate   <a><i class='fa fa-eye'></i></a> @item.ViewNumber  بازدید</span><p class='para'>@Html.Raw(item.Description)</p><div class='read_btn padding-bottom10'><a target='_blank' href='@Prehref'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }

                            }
                            //article
                            else if (urlse.Contains("%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1-%D9%81%D9%86%D8%A7%D9%88%D8%B1%DB%8C-%D9%88-%D8%AA%DA%A9%D9%86%D9%88%D9%84%D9%88%DA%98%DB%8C"))
                            {
                                foreach (var item in DTController.GetAllNews(0))
                                {

                                    if (item.Description.Contains("a"))
                                    {
                                        string a = item.Description.Replace("href", "class='RemoveA' href='#' key");
                                        item.Description = a;

                                    }

                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left dk-box '><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle</a></h4><span>نوشته شده در تاریخ  @item.PubDate   <a><i class='fa fa-eye'></i></a> @item.ViewNumber  بازدید</span><p class='para'>@Html.Raw(item.Description)</p><div class='read_btn padding-bottom10'><a target='_blank' href='@Prehref'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }
                            }
                            //magazineselected
                            else if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
                            {
                                var urlSeg3 = Request.Url.Segments[3];
                                string[] arr = urlSeg3.Split('-');
                                foreach (var item in DTController.GetAllNewsMagazine(Convert.ToInt32(ViewBag.MGID), Convert.ToInt32(ViewBag.NumberLoadMagazine)))
                                {
                                    if (item.Description.Contains("a"))
                                    {
                                        string a = item.Description.Replace("href", "class='RemoveA' href='#' key");
                                        item.Description = a;

                                    }

                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";

                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left dk-box '><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle </a></h4><span>نوشته شده در تاریخ @item.PubDate  <a><i class='fa fa-eye'></i></a> @item.ViewNumber بازدید</span><p class='para'>@Html.Raw(item.Description)</p><div class='read_btn padding-bottom10'><a target='_blank' href='@Prehref'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>

                                }

                            }
                            //magazine
                            else if (urlse.Contains("%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
                            {
                                var urlSeg3 = Request.Url.Segments[3].Substring(4, Request.Url.Segments[3].Length - 4);
                                foreach (var item in DTController.GetAllNewsMagazine(Convert.ToInt32(ViewBag.MGID), 0))
                                {
                                    if (item.Description.Contains("a"))
                                    {
                                        string a = item.Description.Replace("href", "class='RemoveA' href='#' key");
                                        item.Description = a;

                                    }

                                    var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + item.NewsID + "|" + item.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                    <div class='blog_list bg-white'><div class='col-md-12 blog_left dk-box '><a target='_blank' href='@Prehref'><img src='' alt='' class='img-responsive' /></a><h4 class='resp-padding-5'><a target='_blank' href='@Prehref'>@item.NTitle </a></h4><span>نوشته شده در تاریخ @item.PubDate <a><i class='fa fa-eye'></i></a> @item.ViewNumber بازدید</span><p class='para'>@Html.Raw(item.Description)</p><div class='read_btn padding-bottom10'><a target='_blank' href='@Prehref'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>
                                }
                            }








                        }





                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-9">

                        <ul class="pagination" id="PageNumber">

                            @{
                                //articleshow
                                if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/"))
                                {
                                    var urlSeg3 = Request.Url.Segments[3].Substring(4, Request.Url.Segments[3].Length - 4);
                                    int countarticleshow = Convert.ToInt32(ViewBag.NumberTake);

                                    int data = Convert.ToInt32(DTController.GetAllPages(0));
                                    var start = 0;
                                    if (countarticleshow > 5)
                                    {
                                        start = countarticleshow - 5;
                                    }
                                    var End = data;
                                    if (countarticleshow < (data - 5))
                                    {
                                        End = countarticleshow + 5;
                                    }


                                    for (int i = start; i <= End; i++)
                                    {
                                        if (i == start)
                                        {
                                            if (i > 0)
                                            {
                                                <li><a href='/Home/صفحه-بهینه-سازی-سایت/a|@i'><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href='/Home/صفحه-بهینه-سازی-سایت/a|@i'> @i </a></li>
                                            }
                                        }
                                        else if (i < End)
                                        {
                                            <li><a href='/Home/صفحه-بهینه-سازی-سایت/a|@i'> @i</a></li>
                                        }
                                        else if (i == End)
                                        {
                                            <li><a href='/Home/صفحه-بهینه-سازی-سایت/a|@i'> @i </a></li>
                                            if (i < (data - 5))
                                            {
                                                int iadd = i + 1;
                                                <li><a href='/Home/صفحه-بهینه-سازی-سایت/a|@iadd'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                            }
                                        }
                                    }

                                    <h5 class='padding-15 paginationbtm'>صفحه @countarticleshow از @data</h5>

                                }
                                //article
                                else if (urlse.Contains("%D8%A7%D8%AE%D8%A8%D8%A7%D8%B1-%D9%81%D9%86%D8%A7%D9%88%D8%B1%DB%8C-%D9%88-%D8%AA%DA%A9%D9%86%D9%88%D9%84%D9%88%DA%98%DB%8C"))
                                {
                                    int data = Convert.ToInt32(DTController.GetAllPages(0));
                                    for (var i = 0; i < data && i < 11; i++)
                                    {
                                        if (i < 10)
                                        {
                                            <li><a href='/Home/صفحه-بهینه-سازی-سایت/p|@i'> @i</a></li>
                                        }
                                        else if (i == 10)
                                        {

                                            <li><a href='/Home/صفحه-بهینه-سازی-سایت/p|@i'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                        }
                                    }
                                    <h5 class='padding-15 paginationbtm'>صفحه 0 از @data</h5>
                                }
                                //magazineselected
                                else if (urlse.Contains("%D8%B5%D9%81%D8%AD%D9%87-%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
                                {


                                    var urlSeg3 = Request.Url.Segments[3];
                                    string[] arr = urlSeg3.Split('-');
                                    int data = Convert.ToInt32(DTController.GetAllPages(Convert.ToInt32(ViewBag.MGID)));
                                    int start = Convert.ToInt32(ViewBag.NumMagazine);
                                    var startcount = 0;
                                    if (start > 5)
                                    {
                                        startcount = start - 5;
                                    }
                                    var End = data;
                                    if (start < (data - 5))
                                    {
                                        End = start + 5;
                                    }

                                    for (var i = startcount; i <= End; i++)
                                    {
                                        if (i == startcount)
                                        {
                                            if (i > 0)
                                            {
                                                <li><a href='/Home/صفحه-مجله-اینترنتی/a|@Convert.ToInt32(ViewBag.MGID)-@i'><i class='fa fa-chevron-left' aria-hidden='true'></i></a></li>
                                            }
                                            else
                                            {
                                                <li><a href='/Home/صفحه-مجله-اینترنتی/a|@Convert.ToInt32(ViewBag.MGID)-@i'> @i</a></li>
                                            }
                                        }
                                        else if (i < End)
                                        {
                                            <li><a href='/Home/صفحه-مجله-اینترنتی/a|@Convert.ToInt32(ViewBag.MGID)-@i'> @i </a></li>
                                        }
                                        else if (i == End)
                                        {
                                            <li><a href='/Home/صفحه-مجله-اینترنتی/a|@Convert.ToInt32(ViewBag.MGID)-@i'> @i </a></li>
                                            if (i < (data - 5))
                                            {
                                                int iadd = i + 1;
                                                <li><a href='/Home/صفحه-مجله-اینترنتی/a|@Convert.ToInt32(ViewBag.MGID)-@iadd'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                            }
                                        }
                                    }

                                    <h5 class='padding-15 paginationbtm'>صفحه @start از @data </h5>

                                }
                                //magazine
                                else if (urlse.Contains("%D9%85%D8%AC%D9%84%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C/"))
                                {
                                    var urlSeg3 = Request.Url.Segments[3];
                                    int data = Convert.ToInt32(DTController.GetAllPages(Convert.ToInt32(ViewBag.mgID)));

                                    for (var i = 0; i < data && i < 11; i++)
                                    {
                                        if (i < 10)
                                        {
                                            <li><a href='/Home/صفحه-مجله-اینترنتی/a|@ViewBag.mgID-@i'> @i</a></li>
                                        }
                                        else if (i == 10)
                                        {
                                            <li><a href='/Home/صفحه-مجله-اینترنتی/a|@ViewBag.mgID-@i'><i class='fa fa-chevron-right' aria-hidden='true'></i></a></li>
                                        }
                                    }
                                    <h5 class='padding-15 paginationbtm'>صفحه 0 از  @data </h5>


                                }





                            }





                        </ul>
                    </div>
                    <div id="pagenum" class="col-md-3 no-margin ">

                    </div>

                </div>



                <div class="col-md-2 blog_right no-padding ellipsistitle" id="MagazinesNews">

                    

                    @{

                        foreach (var item in Utility.lstMagUnDisc)
                        {

                            <div class='widget'>
                                <div class='widget-header text-align-center'><a class='colorblack' href='/Home/مجله-اینترنتی/a|@item.SiteName'><h6 class='line-height-2-5'>@item.SiteName</h6></a></div><div class='widget-content md-padding'>

                                    <ul class='list-unstyled div-bg-white'>
                                        <div class='clearfix'></div>
                                        @{foreach (var itemInside in Utility.lstNewsByMagazineID.Where(o => o.MagazineName == item.MagazineName))
                                            {

                                                var Prehref = "/Home/جزئیات-خبر-فناوری/ a" + itemInside.NewsID + "|" + itemInside.NTitle.Replace(" ", "-").Replace("+", "-").Replace("?", "-").Replace("*", "-").Replace(";", "-").Replace(",", "-").Replace(".", "-").Replace(":", "-").Replace("؛", "-").Replace("؟", "-").Replace("»", "-").Replace("«", "-").Replace("!", "-").Replace("(", "-").Replace(")", "-").Replace("{", "-").Replace("}", "-").Replace("[", "-").Replace("]", "-") + " بهینه سازی سایت - طراحی سایت ";
                                                <li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a target='_blank' title='@itemInside.NTitle' href='@Prehref'> @itemInside.NTitle</a></li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }


                    }



                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

}

@section ScriptJs{




}