@using GOWEB.Models



@section Head
{

    <title>سئو سایت | بهینه سازی سایت | سئو سبز</title>

    <meta name="description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="keywords" content=" سئو سایت |  بهینه سازی سایت | سئو ارزان |  افرایش رتبه سایت |  رتبه سایت  | سئو | بهینه سازی سایت ارزان | سئو چیست | سئو تضمینی | سئو سبز " />
    <meta name="DC.keywords" content="سئو سایت |  بهینه سازی سایت | سئو ارزان |  افرایش رتبه سایت |  رتبه سایت  | سئو | بهینه سازی سایت ارزان | سئو چیست | سئو تضمینی | سئو سبز " />
    <meta name="DC.description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="DC.Title" content=" سئو سایت | بهینه سازی سایت  | سئو سبز" />
    <meta name="DC.Subject" content=" سئو سایت | بهینه سازی سایت | سئو سبز " />
    
    <meta property="og:title" content="سئو سایت | بهینه سازی سایت | سئو سبز" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/سئو_سایت" />
    <meta property="og:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    
    <meta name="twitter:title" content="سئو سایت | بهینه سازی سایت | سئو سبز" />
    <meta name="twitter:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/سئو_سایت" />

}






@section StyleScript{
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent{

    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">خدمات سئو</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">سئو</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container persiannumber">

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-12 resp-padding">
                        <div class="text-align-right">
                            <h4 class=""><i class="fa fa-chevron-circle-left font-14 margin-left-8" aria-hidden="true"></i>هزینه سرویس ها در یک نگاه</h4>
                        </div>
                        <div class="text-align-center">
                            <h6 class="">موارد <b>قیمت سئو</b> ذیل برای اکثریت کلمات متعادل می باشند و برای اطلاع دقیق لطفا با ما تماس بگیرید.</h6>
                        </div>
                        <div class="text-align-center">
                            <h6 class="fcolorRed">تمامی قیمت ها به تومان می باشد.</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-align-right"><h5>09128238263</h5></div>
                            <div class="col-md-2 text-align-left"><h5>موبایل:</h5></div>
                            <div class="col-md-2 text-align-right"><h5>02177166964</h5></div>
                            <div class="col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                        </div>
                        <div class="">
                            <table class="tblcart text-align-center width-100per" align="center">
                                <colgroup>
                                    <col class="width-15per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                </colgroup>
                                <thead class="tbl-border-bottom">
                                    <tr>
                                        <td class="tblcarttd tdborder ">نوع سرویس</td>
                                        <td class="tblcarttd tdborder ">تک کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">دو کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">سه کلمه ای و بالاتر</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                    </tr>
                                </thead>
                                <tbody id="Result">


                                    @using (greenopt_dbgoEntities db = new greenopt_dbgoEntities())
                                    {

                                        foreach (var item in db.tblProducts.Where(i => i.oneWord != null).ToList().OrderBy(c => c.Priority))
                                        {
                                            <tr class="">
                                                <td class="tdborder" rowspan="3">
                                                    <div class="">
                                                        <h6 class="resph6">@(item.ProductName)</h6>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.oneWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthOne))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.twoWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthTwo))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.threeWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthThree))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC ">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.ThreeWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.oneWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.ThreeWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="tbl-border-bottom">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.oneWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@((item.ThreeWordDay) * 2)</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
            </div>









            <div id="divdetailSeo" class="middle_grid">
                <div class="span_of_4">
                    <div class="col-md-6 ">


                        <img class="img-resp" src="~/images/Target_01.png" />
                        <img class="img-resp" src="~/images/Target_02.png" />


                    </div>
                    <div class="col-md-6 ">
                        <h3>تمام سفارشات شامل موارد زیر می شوند</h3>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">شروع بلافاصله بعد از سفارش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">بدون نیاز به پسورد</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">کمترین ریزش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">نازلترین قیمت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پرداخت ایمن</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">ضمانت بازگشت وجه</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">


                        <img class="img-resp" src="~/images/keywords_seo.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h3><a href="/Home/سئو_سایت">تولید محتوا</a></h3>
                        <p class="seo-text">سایت هایی که در آنها تولید محتوا حرف اول را می زند و کلمه کلیدی انحصاری در آن وجود ندارد سرویس خدمات سئو و بهینه سازی کلی سایت پیشنهاد می شود. در این روش سایت به نحوی از لحاظ زیرساختی قوی می شود که محتوای آن قدرت بالا آمدن در نتایج بالای موتور چستجو را داشته باشد.</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h3 href="/Home/سئو_سایت"><a>سئو سایت</a></h3>
                        <p class="seo-text">سایت های خدماتی و مانند آنها که در یک یا چند حیطه مشخص فعالیت دارند معمولا به دنبال بالا بودن در یکسری کلمات کلیدی هستند. در این حالت سرویس خدمات سئو کلمات کلیدی و رقابتی بهترین انتخاب است.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/fullseo.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/research_note.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h3><a href="/Home/سئو_سایت">مشاوره سئو</a></h3>
                        <p class="seo-text">در شرایطی که سایت تلفیقی از دو مورد سئو کلی و کلمات رقابتی را نیاز داشته باشد این گزینه بهترین انتخاب است. در این شرایط علاوه بر بالا بودن در یکسری کلمات کلیدی ، سایت قابلیت و قدرت لازم برای بالا بودن در محتوای تولید شده را نیز دارد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>




        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>





}

@section ScriptJs
    {
    <script>

        $(document).ready(function () {

            $('.persiannumber').persiaNumber();

        });


        String.prototype.allReplace = function (obj) {
            var retStr = this;
            for (var x in obj) {
                retStr = retStr.replace(new RegExp(x, 'g'), obj[x]);
            }
            return retStr;
        };

        

        $(".detailSeo").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailSeo").offset().top
            }, 2000);
        });



        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        };





    </script>



}