@using GOWEB.Models



@section Head
{

    <title>سئو سایت | بهینه سازی سایت | سئو سبز</title>

    <meta name="description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="keywords" content=" سئو سایت |  بهینه سازی سایت | سئو ارزان |  افرایش رتبه سایت |  رتبه سایت  | سئو | بهینه سازی سایت ارزان | سئو چیست | سئو تضمینی | سئو سبز " />
    <meta name="DC.keywords" content="سئو سایت |  بهینه سازی سایت | سئو ارزان |  افرایش رتبه سایت |  رتبه سایت  | سئو | بهینه سازی سایت ارزان | سئو چیست | سئو تضمینی | سئو سبز " />
    <meta name="DC.description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="DC.Title" content=" سئو سایت | بهینه سازی سایت  | سئو سبز" />
    <meta name="DC.Subject" content=" سئو سایت | بهینه سازی سایت | سئو سبز " />
    
    <meta property="og:title" content="سئو سایت | بهینه سازی سایت | سئو سبز" />
    <meta property="og:url" content="http://iwebdesignseo.com/Home/سئو-سایت" />
    <meta property="og:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    
    <meta name="twitter:title" content="سئو سایت | بهینه سازی سایت | سئو سبز" />
    <meta name="twitter:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="twitter:creator" content="http://iwebdesignseo.com/Home/سئو-سایت" />

}






@section StyleScript{
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent{

    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">خدمات سئو</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">سئو</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container persiannumber">

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-12 resp-padding">
                        <div class="text-align-right">
                            <h4 class=""><i class="fa fa-chevron-circle-left font-14 margin-left-8" aria-hidden="true"></i>برای اطلاع از هزینه سئو با شماره تلفن های زیر تماس حاصل فرمایید</h4>
                        </div>
                        <div class="text-align-center">
                            <h6 class="">موارد <b>قیمت سئو</b> ذیل برای اکثریت کلمات متعادل می باشند و برای اطلاع دقیق لطفا با ما تماس بگیرید.</h6>
                        </div>
                        <div class="text-align-center">
                            <h6 class="fcolorRed">تمامی قیمت ها به تومان می باشد.</h6>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 text-align-right"><h5>09128238263</h5></div>
                            <div class="col-xs-2 col-sm-2 col-md-2 text-align-left"><h5>موبایل:</h5></div>
                            <div class="col-xs-2 col-sm-2 col-md-2 text-align-right"><h5>02177166964</h5></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                        </div>
                        @*<div class="">
                            <table class="tblcart text-align-center width-100per" align="center">
                                <colgroup>
                                    <col class="width-15per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                    <col class="width-10per">
                                    <col class="width-10per">
                                    <col class="width-5per">
                                </colgroup>
                                <thead class="tbl-border-bottom">
                                    <tr>
                                        <td class="tblcarttd tdborder ">نوع سرویس</td>
                                        <td class="tblcarttd tdborder ">تک کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">دو کلمه ای</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                        <td class="tblcarttd tdborder ">سه کلمه ای و بالاتر</td>
                                        <td class="tblcarttd tdborder ">پشتیبانی ماهانه</td>
                                        <td class="tblcarttd tdborder ">مدت(روز)</td>
                                    </tr>
                                </thead>
                                <tbody id="Result">


                                    @using (greenopt_dbgoEntities db = new greenopt_dbgoEntities())
                                    {

                                        foreach (var item in db.tblProducts.Where(i => i.oneWord != null).ToList().OrderBy(c => c.Priority))
                                        {
                                            <tr class="">
                                                <td class="tdborder" rowspan="3">
                                                    <div class="">
                                                        <h6 class="resph6">@(item.ProductName)</h6>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.oneWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthOne))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.twoWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthTwo))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.threeWord))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", item.suppPerMonthThree))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC ">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.ThreeWordDay.ToString())</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.oneWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.8))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.ThreeWordDay * 1.5)</h5>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr class="tbl-border-bottom">
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.oneWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthOne) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder OneWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.OneWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.twoWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthTwo) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder TwoWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(item.TwoWordDay * 2)</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.threeWord) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@(string.Format("{0:n0}", ((item.suppPerMonthThree) * Convert.ToDecimal(0.6))))</h5>
                                                    </div>
                                                </td>
                                                <td class="tdborder ThreeWordBGC">
                                                    <div class="">
                                                        <h5 class="resph5">@((item.ThreeWordDay) * 2)</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>*@


                    </div>
                </div>

                <div class="clearfix"></div>
            </div>





            <div id="divdetailSeo" class="middle_grid">
                


                <section class="row align-right">
                    <br>
                    <br>
                    <div class="container">
                        <h1 class="f18 dark-green aligncenter">تعرفه بهینه سازی نونگار پردازش</h1>
                        <br>
                        <br>

                        <div class="container jumbotron w70 f-tahoma">
                            <div><p class="np">A</p></div>
                            <div class="aligncenter">
                                <div class="fives alignright">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                            <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                            <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                            <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                            <tr><td>آنالیز محتوای سایت</td><td></td></tr>
                                            <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                            <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td></td></tr>
                                            <tr><td>آنالیز سرعت هاست </td><td></td></tr>
                                            <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                            <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td></td></tr>
                                            <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                            <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                            <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td></td></tr>
                                            <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                            <tr><td>ثبت سایت در وب سایت های مرجع</td><td></td></tr>
                                            <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                            <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td></td></tr>
                                            <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                            <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                            <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td></td></tr>
                                            <tr><td>بهینه سازی کدهای html کدسورس </td><td></td></tr>
                                            <tr><td>بهینه سازی تصاویر مهم سایت </td><td></td></tr>
                                            <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td></td></tr>
                                            <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="fives alignright">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                            <tr><td>بهینه سازی لینک های خروجی مهم </td><td class="check"> </td></tr>
                                            <tr><td>بهینه سازی ساختار لینک های داخلی</td><td></td></tr>
                                            <tr><td>بهینه سازی چگالی کلمات در سایت </td><td></td></tr>
                                            <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                            <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td></td></tr>
                                            <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                            <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td></td></tr>
                                            <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td></td></tr>
                                            <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td></td></tr>
                                            <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td></td></tr>
                                            <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td></td></tr>
                                            <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td></td></tr>
                                            <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                            <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                            <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                            <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td></td></tr>
                                            <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                            <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                            <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                            <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                            <tr><td>پشتیبانی حضوری</td><td></td></tr>
                                            <tr><td><span class="grn f15">هزینه بهینه سازی 800 هزار تومان</span></td><td class="check"></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="container jumbotron w70 f-tahoma">
                            <div class="text-center"><p class="np">B</p></div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                        <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                        <tr><td>آنالیز محتوای سایت</td><td class="check"></td></tr>
                                        <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td></td></tr>
                                        <tr><td>آنالیز سرعت هاست </td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td></td></tr>
                                        <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                        <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                        <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td class="check"></td></tr>
                                        <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                        <tr><td>ثبت سایت در وب سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td></td></tr>
                                        <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                        <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی کدهای html کدسورس </td><td></td></tr>
                                        <tr><td>بهینه سازی تصاویر مهم سایت </td><td></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>بهینه سازی لینک های خروجی مهم </td><td></td></tr>
                                        <tr><td>بهینه سازی ساختار لینک های داخلی</td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی چگالی کلمات در سایت </td><td class="check"> </td></tr>
                                        <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                        <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td></td></tr>
                                        <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td></td></tr>
                                        <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td></td></tr>
                                        <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td></td></tr>
                                        <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td></td></tr>
                                        <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td></td></tr>
                                        <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td></td></tr>
                                        <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                        <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی حضوری</td><td class="check"></td></tr>
                                        <tr><td><span class="grn f15">هزینه بهینه سازی 1 میلیون تومان</span></td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="container jumbotron w70 f-tahoma">
                            <div class="text-center"><p class="np">C</p></div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                        <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                        <tr><td>آنالیز محتوای سایت</td><td class="check"></td></tr>
                                        <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت هاست </td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td class="check"></td></tr>
                                        <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                        <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                        <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td class="check"></td></tr>
                                        <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                        <tr><td>ثبت سایت در وب سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                        <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی کدهای html کدسورس </td><td></td></tr>
                                        <tr><td>بهینه سازی تصاویر مهم سایت </td><td></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>بهینه سازی لینک های خروجی مهم </td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی ساختار لینک های داخلی</td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی چگالی کلمات در سایت </td><td class="check"> </td></tr>
                                        <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                        <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td class="check"> </td></tr>
                                        <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td class="check"></td></tr>
                                        <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td class="check"></td></tr>
                                        <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td></td></tr>
                                        <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                        <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی حضوری</td><td class="check"></td></tr>
                                        <tr><td><span class="grn f15">هزینه بهینه سازی 1.6 میلیون تومان</span></td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="container jumbotron w70 f-tahoma">
                            <div class="text-center"><p class="np">S</p></div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                        <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                        <tr><td>آنالیز محتوای سایت</td><td class="check"></td></tr>
                                        <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت هاست </td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td class="check"></td></tr>
                                        <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                        <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                        <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td class="check"></td></tr>
                                        <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                        <tr><td>ثبت سایت در وب سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                        <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی کدهای html کدسورس </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تصاویر مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>بهینه سازی لینک های خروجی مهم </td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی ساختار لینک های داخلی</td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی چگالی کلمات در سایت </td><td class="check"> </td></tr>
                                        <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                        <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td></td></tr>
                                        <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td class="check"></td></tr>
                                        <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td></td></tr>
                                        <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td></td></tr>
                                        <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td></td></tr>
                                        <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                        <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی حضوری</td><td class="check"></td></tr>
                                        <tr><td><span class="grn f15">هزینه بهینه سازی 2.4 میلیون تومان</span></td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="container jumbotron w70 f-tahoma">
                            <div class="text-center"><p class="np">+S</p></div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                        <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                        <tr><td>آنالیز محتوای سایت</td><td class="check"></td></tr>
                                        <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت هاست </td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td class="check"></td></tr>
                                        <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                        <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                        <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td class="check"></td></tr>
                                        <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                        <tr><td>ثبت سایت در وب سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                        <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی کدهای html کدسورس </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تصاویر مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>بهینه سازی لینک های خروجی مهم </td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی ساختار لینک های داخلی</td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی چگالی کلمات در سایت </td><td class="check"> </td></tr>
                                        <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                        <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td> </td></tr>
                                        <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td> </td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td class="check"></td></tr>
                                        <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td class="check"></td></tr>
                                        <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td> </td></tr>
                                        <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                        <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی حضوری</td><td class="check"></td></tr>
                                        <tr><td><span class="grn f15">هزینه بهینه سازی 4 میلیون تومان</span></td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="container jumbotron w70 f-tahoma">
                            <div class="text-center"><p class="np">++S</p></div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>آموزش مقدماتی بهینه سازی سایت </td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>آنالیز نام دامنه </td><td class="check"></td></tr>
                                        <tr><td>آنالیز و بررسی کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>تعیین چگالی کلمات کلیدی</td><td class="check"></td></tr>
                                        <tr><td>آنالیز محتوای سایت</td><td class="check"></td></tr>
                                        <tr><td>آنالیز عنوان صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز کلمات کلیدی نسبت به سایر رقبا</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت هاست </td><td class="check"></td></tr>
                                        <tr><td>آنالیز سرعت سایت </td><td class="check"></td></tr>
                                        <tr><td>آنالیز نرم افزارهای مخرب گوگل</td><td class="check"></td></tr>
                                        <tr><td>انجام تنظیمات Redirects </td><td class="check"></td></tr>
                                        <tr><td>ایجاد و بهینه سازی فایل Robots.txt </td><td class="check"></td></tr>
                                        <tr><td>تعیین بهترین کلمات کلیدی حرفه شما </td><td class="check"></td></tr>
                                        <tr><td>ثبت صفحات سایت در موتورهای جستجو نظیر گوگل </td><td class="check"></td></tr>
                                        <tr><td>ثبت سایت در وب سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر واژه های صفحات مهم سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی ابر عبارت های صفحات مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی هدر های H1, H2, … </td><td class="check"></td></tr>
                                        <tr><td>آنالیز تگ های بولد مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>تعریف یا محدود کردن برخی صفحات برای جستجوگرها </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی کدهای html کدسورس </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تصاویر مهم سایت </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک کلمات کلیدی </td><td class="check"></td></tr>
                                        <tr><td>گزارش میزان پیشرفت سایت به تفکیک صفحات </td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fives aligncenter">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr><td>بهینه سازی هایپرلینک های مهم</td><td class="check">&nbsp;&nbsp;</td></tr>
                                        <tr><td>بهینه سازی لینک های خروجی مهم </td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی ساختار لینک های داخلی</td><td class="check"> </td></tr>
                                        <tr><td>بهینه سازی چگالی کلمات در سایت </td><td class="check"> </td></tr>
                                        <tr><td>آنالیز لینک های معیوب </td><td class="check"> </td></tr>
                                        <tr><td>دریافت استاندارد W3C صفحه اصلی </td><td class="check"> </td></tr>
                                        <tr><td> آنالیز نقشه سایت در صورت وجود</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای یاهو (TEXT) </td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی نقشه سایت برای گوگل (XML)</td><td class="check"></td></tr>
                                        <tr><td>تصحیح و بهینه سازی معماری سایت درصورت نیاز</td><td class="check"></td></tr>
                                        <tr><td>آنالیز سیاست های تجاری سایت در فضای وب</td><td class="check"></td></tr>
                                        <tr><td>مشاوره در زمینه ایجاد صفحات جدید</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی افزایش بازدید متناسب با زمینه سایت</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات در سایت ها</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی بک لینک های حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>بهینه سازی تبلیغات حرفه ای در سایت های مرجع</td><td class="check"></td></tr>
                                        <tr><td>آنالیزگزارش کلمات کلیدی در گوگل</td><td class="check"></td></tr>
                                        <tr><td>گزارش تصویری وضعیت سایت در گوگل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی ایمیل</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی تلفن</td><td class="check"></td></tr>
                                        <tr><td>پشتیبانی حضوری</td><td class="check"></td></tr>
                                        <tr><td><span class="grn f15">هزینه بهینه سازی 6 میلیون تومان </span></td><td class="check"></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="row container jumbotron w50">
                        <div class="text-center"><p class="np line-h">تضمینی</p></div>
                        <h1 class="f14">:اجرای بهینه سازی تضمینی بدین گونه است که</h1>
                        <p class="f13 line-h alignjustify">شما کلمه یا کلماتی را بعنوان کلمه اصلی و هدف نهائی خود برای نمایش در صفحه اول گوگل به نونگار معرفی می نمائید، که واحد فروش پس از بررسی چگالی جستجوی کلمه و حجم فعالیت رقبای شما برای هر کلمه، تعرفه ای را به شرط نمایش در صفحه اول (10 مورد اول)به شما اعلام می نماید که 50 % آن ابتدا و 50% آن انتهای کار و پس از نمایش سایت شما در صفحه اول با کلمه اعلامی اخذ میگردد. ولی درصورت عدم موفقیت در انجام (به هر دلیلی) در بازه زمانی توافقی فی مابین، کل مبلغ پیش پرداخت شما عودت خواهد شد . با توجه به انجام این روش با الگریتم منطقی گوگل، زمان حدودی اجرا 90 روز کاری خواهد بود و در انتهای کار نیز کلاس آموزشی جهت ارتقاء رتبه و حفظ موقعیت بصورت حضوری برگذار خواهد شد . در این روش درصورت عدم نمایش سایت در صفحه اول گوگل با کلمه اعلامی، هیچ مبلغی از شما کسر و یا مطالبه نخواهد شد و این مهم تنها بدلیل اعتماد کامل نونگار به توانائی خود است . </p>
                    </div>
                    <br>

                    <p class="aligncenter">نکته: مبلغ 50% به صورت پیش پرداخت پس از عقد قرارداد و مابقی پس از پایان کار دریافت میشود.</p>
                    <br>
                </section>



                <div class="clearfix"></div>
            </div>





            <div id="divdetailSeo" class="middle_grid">
                <div class="span_of_4">
                    <div class="col-md-6 ">


                        <img class="img-resp" src="~/images/Target_01.png" />
                        <img class="img-resp" src="~/images/Target_02.png" />


                    </div>
                    <div class="col-md-6 ">
                        <h3>تمام سفارشات شامل موارد زیر می شوند</h3>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">شروع بلافاصله بعد از سفارش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">بدون نیاز به پسورد</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">کمترین ریزش</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">نازلترین قیمت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پرداخت ایمن</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">ضمانت بازگشت وجه</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">


                        <img class="img-resp" src="~/images/keywords_seo.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/سئو-سایت">تولید محتوا</a></h1>
                        <p class="seo-text">سایت هایی که در آنها تولید محتوا حرف اول را می زند و کلمه کلیدی انحصاری در آن وجود ندارد سرویس خدمات سئو و بهینه سازی کلی سایت پیشنهاد می شود. در این روش سایت به نحوی از لحاظ زیرساختی قوی می شود که محتوای آن قدرت بالا آمدن در نتایج بالای موتور چستجو را داشته باشد.</p>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/سئو-سایت">سئو سایت</a></h1>
                        <p class="seo-text">سایت های خدماتی و مانند آنها که در یک یا چند حیطه مشخص فعالیت دارند معمولا به دنبال بالا بودن در یکسری کلمات کلیدی هستند. در این حالت سرویس خدمات سئو کلمات کلیدی و رقابتی بهترین انتخاب است.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/fullseo.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/research_note.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h1  class="font-size-18"><a href="/Home/سئو-سایت">مشاوره سئو</a></h1>
                        <p class="seo-text">در شرایطی که سایت تلفیقی از دو مورد سئو کلی و کلمات رقابتی را نیاز داشته باشد این گزینه بهترین انتخاب است. در این شرایط علاوه بر بالا بودن در یکسری کلمات کلیدی ، سایت قابلیت و قدرت لازم برای بالا بودن در محتوای تولید شده را نیز دارد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>




        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>





}

@section ScriptJs
    {
    <script>

        $(document).ready(function () {

            $('.persiannumber').persiaNumber();

        });


        String.prototype.allReplace = function (obj) {
            var retStr = this;
            for (var x in obj) {
                retStr = retStr.replace(new RegExp(x, 'g'), obj[x]);
            }
            return retStr;
        };

        

        $(".detailSeo").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailSeo").offset().top
            }, 2000);
        });



        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        };





    </script>



}